[2017-08-01 14:38] eliperelman opened #308 "Support multiple Webpack configurations"
In order to support multiple Webpack configurations, I think we need to re-think how we are allowing configurations to be composed. I still think the right approach is to let middleware modify configuration that is passed to it as an argument, but I think that this should not be a single config object directly accessed on the Neutrino object.

We can allow the user to name configuration objects us

[2017-08-03 03:44] barraponto commented on #308
how do we do global stuff then, like `neutrino.register('lint')`?

[2017-08-03 08:18] constgen commented on #308
Why not array? We will not use these names anyway

[2017-08-03 14:35] eliperelman commented on #308
We could still pass the Neutrino object into the middleware, but maybe as the third argument:

[code]

We may be able to get by using array, but right now Neutrino's array format is already defined to accept arrays as a `<middleware, options>` pair. Maybe we could figure out how to do that if it's an array of objects instead.

[code]

I'm inclined to think this is correct, but didn't want to assum

[2017-08-04 14:27] barraponto commented on #308
But what happens if the command-setting middleware is used twice (and is configured from those two middlewares)? I'm foreseeing conflicts.

[2017-08-04 15:50] eliperelman commented on #308
Currently, the same thing would happen as when you use 2 middleware; the second declaration would overwrite the first.

You make me think of something else though. What if the CLI could create a separate Neutrino API instance for every separate configuration? This would solve that problem, and would also let us keep the existing middleware function format. In order to make that happen though, I th

[2017-08-04 15:58] eliperelman commented on #308
In order to have API-per-configuration, we need to break a couple things:

**Only auto-load `.neutrinorc.js` when no CLI `--use` middleware exists**

This means that `neutrino build --use alpha beta gamma` implies a single configuration with the composition of `alpha`, `beta`, and `gamma` and no `.neutrinorc.js`. `neutrino build` should *only* load `.neutrinorc.js`, which should define one or more

[2017-08-06 10:08] constgen commented on #308
Can we just create multiple `Neutrino` instances and run them with different presets in `.neutrinorc.js`? The question is related to the current version. Something simillar to what we do in `.eslintrc.js`

[2017-08-07 12:18] edmorley commented on #251
Yarn 0.28 now has support for workspaces, which means part of the lerna functionality is now in yarn and it can perform even more hoisting optimisations. It also means there is only the need for a single root yarn.lock rather than one in each package. Lerna would still be used for assisting with publishing etc.

See:
https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/

[2017-08-19 01:57] chenxsan opened #309 "It takes a long time to build with `neutrino--preset-react`"
1. neutrino 6.1.5
2. neutrino-preset-react 6.1.5
3. npm 5.3.0
4. node 8.1.2
5. macOS Sierra 10.12.6

I'm building my project with these configurations in `.neutrinorc.js`:

[code]
And here's the output:

<img width="572" alt="screen shot 2017-08-19 at 9 50 59 am" src="https://user-images.githubusercontent.com/1091472/29482451-ef0e4ee6-84c3-11e7-9108-12841eaaf95e.png">

It took 30395ms to finish th

[2017-08-22 05:30] constgen commented on #309
I noticed that CommonChunks plugin optimization takes a significant amount of time at the end of build process. Could you include it also in your "handmade" config to compare results?

[2017-09-03 18:14] FDiskas commented on #158
"neutrino-preset-typescript" Impossible to run that on neutrino v6

[2017-09-06 23:12] gigafied opened #311 "devServer with open=true hangs on "Building project""
If you specify `open: true` opt with `devServer` then console gets stuck on "Building project" forever. (It still does output errors on recompilations though).

[code]

[2017-09-07 13:46] #311 closed

[2017-09-12 08:40] okonet commented on #287
Any updates on this one? Do you need any help?

[2017-09-12 10:19] eirikurn commented on #272
This is affecting us badly. @constgen did you get this to work with `issuer`?

Does it make sense to revert to `file-loader`, which "just works", until this is solved?

[2017-09-12 11:10] okonet commented on #287
@eliperelman I think this issue can be expanded to any command. I tried to run `npm run lint -- --fix` but it won't get passed to `eslint` which is vey unfortunate IMO. Do you think we could expand the architecture to allow this?

[2017-09-12 12:29] eliperelman commented on #302
You can run the production by serving the output of `neutrino build`. I use a CLI tool called [serve](https://www.npmjs.com/package/serve) which works great. It should be as simple as:

[code]

That will allow you to test your production bundle locally. Please reopen if that doesn't work. Thanks!

[2017-09-12 12:29] #302 closed

[2017-09-12 12:29] eliperelman commented on #301
Closing as question answered. Please reopen if that doesn't solve your issue. Thanks!

[2017-09-12 12:29] #301 closed

[2017-09-12 12:31] eliperelman commented on #300
See #308.

[2017-09-12 12:31] eliperelman commented on #299
Closing as inactive. If you still continue to see this issue, please reopen with a test repository. Thanks!

[2017-09-12 12:31] #299 closed

[2017-09-12 13:31] eliperelman commented on #290
Right now I think [my previous comment](https://github.com/mozilla-neutrino/neutrino-dev/issues/290#issuecomment-312304555) is the most reasonable solution. We can still include it in the web and node presets, and default its output to `src/static`, with any overrides obviously changing that.

[2017-09-12 13:33] #287 closed

[2017-09-12 13:44] eliperelman commented on #272
@timkelty you did the original PR for switching to svg-url-loader. What is your opinion here?

[2017-09-12 13:57] eliperelman commented on #265
The layout of a standard `.eslintrc.js` is different than the options that are passed to ESLint's CLIEngine, which is what is used by our commands and the eslint-loader. We have to perform a transformation of the config from one format to the other in order to use eslint programmatically. It has always been this way unfortunately.

[2017-09-12 13:57] eliperelman commented on #265
I believe the original issue here has been worked around to the best of our ability. If an issue still exists, please open a new one. Thanks!

[2017-09-12 13:57] #265 closed

[2017-09-12 15:28] timkelty commented on #272
Hmm - yeah I was under the impression `svg-url-loader` was a drop-in replacement, but apparently it isn't.

Sounds like maybe it is a good idea to revert back to `file-loader` until we figure out the proper fix.

[2017-09-12 17:06] okonet commented on #287
@eliperelman should I open a separate issue in relation to lint and other tasks? https://github.com/mozilla-neutrino/neutrino-dev/issues/287#issuecomment-328820679

[2017-09-12 17:50] eliperelman commented on #287
@okonet yes, go ahead! Right now flags aren't passed to eslint because we use ESLint CLIEngine, not the CLI itself.

[2017-09-12 17:51] eliperelman commented on #287
@okonet although not sure why `--fix` isn't working:

https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/neutrino-middleware-eslint/index.js#L79

[2017-09-13 16:22] eliperelman opened #316 "Investigate moving to Babel 7 when it releases"
https://github.com/babel/babel/milestone/14

[2017-09-14 12:39] barraponto commented on #290
@timkelty we definitely need a web extension preset.

[2017-09-14 14:31] eliperelman commented on #290
@barraponto #306 :)

[2017-09-15 00:41] trusktr opened #318 "How do we simply compile an entry point, but not run it?"
The closest thing to what I need is `neutrino-preset-node`, but that automatically runs the output file.

How would I do the same thing, but not run the file, only build it (but stay in watch mode (start mode))?

In this case, I also don't need hot module reload, I just need to build the file exactly like the `node` preset does, and rebuild on changes, and that's all.

I have a feeling it's easy,

[2017-09-15 02:19] eliperelman commented on #318
It's currently not documented very well, but when using the `start` command with no server options, it will trigger the webpack watcher:

https://neutrino.js.org/cli/#neutrino-start
https://neutrino.js.org/api/#startwebpackconfig-neutrinoapi

This means that for presets based on the Web presets, you need to remove the `devServer` config, and presets based on the Node one need to remove the `start-

[2017-09-15 02:57] trusktr commented on #82
My Ops team needs to assign those at runtime. How can we do that? I'm using `neutrino-preset-node` to run a server. It'd be great for the server to receive those env vars at runtime, dynamically, while still using process.env.WHATEVER, not transpiled-in at build time.

[2017-09-15 03:01] trusktr opened #319 "Setting Environment Variables for preset-node"
I'd like for an app that I run with neutrino-preset-node to use _real_ environment variables (not transpiled in).

How can we do this?

[2017-09-15 04:50] trusktr commented on #168
@eliperelman This doesn't seem to always work. For example, disabling the `hot` plugin from the `node` preset causes an error.

I have this `.neutrinorc.js` file:

[code]

and running `neutrino start` causes this error:

[code]

[2017-09-15 04:52] trusktr opened #320 "Remove or disable a middleware from a preset."
I'm trying something similar to https://github.com/mozilla-neutrino/neutrino-dev/issues/168.

This doesn't seem to always work. For example, disabling the `hot` plugin from the `node` preset causes an error.

I have this `.neutrinorc.js` file:

[code]

and running `neutrino start` causes this error:

[code]

[2017-09-15 04:59] trusktr commented on #320
Ah, well, turns out we can just do

[code]

Knowing how to do it the other way might be good for learning though.

[2017-09-15 05:00] trusktr commented on #320
Ah, but now, with `hot` set to false, the server doesn't seem to restart on changes... Hmmm.....

[2017-09-15 07:26] trusktr commented on #174
Isn't the the entry option reachable from webpack-chainable API? Then it is possible to make some new preset using it.

[2017-09-15 11:44] timkelty commented on #174
@trusktr that's correct.

When this issue was created, the problem was that other neutrino presets/middlewares sometime _expected_ only one webpack entry, `index`. Example: https://github.com/mozilla-neutrino/neutrino-dev/blob/d7688dc674af187011c114f42f5837f0ce2b880b/packages/neutrino-preset-web/index.js#L152-L156

However, it looks like maybe that was the only example, and the reference to `index

[2017-09-15 14:58] eliperelman commented on #319
Node.js still has access to `process.env` and environment variables won't be transpiled in unless you use a Webpack plugin or the env middleware to force it to. For example, if you had the following code:

[code]

and ran the build with:

[code]

Your built file won't contain the string "hello world". It will still contain the call to `process.env.TEST` and it will be pulled at runtime (e.g. when

[2017-09-15 14:58] #319 closed

[2017-09-15 15:02] eliperelman commented on #320
You are correct, there are some features that take disabling multiple things in order for them to be truly shut off. In those instances, we try to provide a middleware option for it, like you have discovered with HMR. While you can remove the hot plugin, you still have to remove the hot entrypoint from the bundle, and it's easier to use a setting to control this whole feature than to have to remem

[2017-09-15 15:02] #320 closed

[2017-09-15 17:08] trusktr commented on #319
It makes sense, but as mentioned in the other issue, the env vars are
undefined when neutrino runs the script.

On Sep 15, 2017 7:58 AM, "Eli Perelman" <notifications@github.com> wrote:

[2017-09-15 17:14] trusktr commented on #320
Maybe it's easy enough to get HMR working? What are the steps to enable HMR in my server code?

[2017-09-15 19:17] trusktr opened #321 "How to get preset-node to include node_modules in the bundle?"
I'm slightly modifying preset-node for slim client-side bundling. I've disabled `hot` which I don't need, and changed target to `web` and `libraryTarget` to `var`. But there's still `require('...')` statements in the bundle which need to be replaced with the actual modules.

How might I do that?

[2017-09-15 19:31] trusktr opened #322 "How to merge settings for an existing `use`?"
f.e., I see that preset-node uses `neutrino.use(compile,  {...})` to setup Babel compiler.

How do I override some settings that were passed into that call?

This is my guess:

[code]

But I wasn't sure if that overrides the entire `use` from preset-node, therefore breaking it all.

Specifically I'm wondering how to change the `targets` to a browser instead of node.

[2017-09-15 19:34] trusktr commented on #322
Specifically I'm wondering how to change the `targets` to a browser instead of node.

[2017-09-15 19:36] trusktr commented on #322
Maybe I jsut have to use webpack-chain to dig deep and change the property that way?

[2017-09-15 19:39] trusktr commented on #322
I don't see [here](https://github.com/mozilla-neutrino/webpack-chain#chainedset) how I can traverse past multiple arrays in the config (suppose an object that has an array of objects that have arrays, and I want to modify stuff in the second layer of arrays).

[2017-09-15 20:17] trusktr commented on #322
Nvm, I see we can do things like

[code]

and

[code]

, I think I got it.

[2017-09-15 20:30] trusktr commented on #322
yep, I use `.tap`, that was easy.

That still didn't help solve https://github.com/mozilla-neutrino/neutrino-dev/issues/322, which I was hoping for.

[2017-09-15 20:30] #322 closed

[2017-09-15 23:01] trusktr opened #323 "Why are there duplicate plugins in the resulting Webpack config?"
When I run `test` or `start` modes, with the `--inspect` option, I see the following (notice that there are two `apply` plugins:

[code]

The following is my `.neutrinorc.js` file:

[code]

---

Why does Neutrino output two of the same exact plugin? Is some a middleware/preset adding it even if it already exists?

[2017-09-16 00:44] trusktr commented on #319
I ended up making a webpack plugin to start/restart the server using `child_process.exec` on `compiler` `after-emit` event.

[2017-09-16 00:46] trusktr commented on #321
Got it, it was easy:

[code]

[2017-09-16 00:46] #321 closed

[2017-09-18 08:13] constgen commented on #272
Started working on it. Currently have an issue with separating `{ noquotes: true }` and `{ noquotes: false}` configs. Seams like a bug in Webpack but I am not sure. This is what I tried:
[code]
Only the latest rule is applied correctly. Changing order of rules affects the result. This is not expected to be. It may take several days to fix.

Have one more idea with `json-loader`

[2017-09-19 00:01] trusktr opened #324 "Is there an option to detect start vs build mode in .neutrinorc.js?"
Right now I'm doing

[code]

then reading that ENV var in the `.neutrinorc.js` file. Is there a better way? Does neutrino set some property I can check?

[2017-09-19 00:11] eliperelman commented on #324
In v6 the easiest way right now is to read the `NODE_ENV` environment variable. By default Neutrino sets this to `development` when using `start`, and `production` when using `build`. In v7 we plan to also have a dedicated property you can read for this.

Another way would be to read the args directly:

[code]

[2017-09-19 00:12] eliperelman commented on #323
I don't seem to replicate this. Is it possible you have 2 presets loaded which are causing them to be loaded twice?

[2017-09-19 05:27] trusktr commented on #323
In my above neutrinorc ^, I'm only using `neutrino-preset-node`, and then I'm customizing a few things based off of that. I'm not using the `--use` arg from the CLI, only relying on neutrinorc, so I don't see how I could have more presets.

Maybe I can post a repro...

[2017-09-22 13:30] edmorley opened #326 "Provide way to use neutrino-middleware-html-template multiple times"
For [Treeherder](https://github.com/mozilla/treeherder), we have a multi-page app that needs to use different custom templates for each page, rather than the stock template generated by html-webpack-plugin / html-webpack-template.

In our Neutrino v4 config there's a lot of unnecessary duplication:
https://github.com/mozilla/treeherder/blob/5c0c7eb5e241638bc1d636cce2468d568e374ce2/neutrino-custom/

[2017-09-22 13:48] edmorley opened #327 "Improve error message for middleware .use()d incorrectly"
As part of #326, one of my initial (/naive) attempts at reducing the duplication looked like:

[code]

This unsurprisingly didn't work given that `neutrino-middleware-html-template` returns a `config` object not just a webpack plugin, so resulted in:
[code]

Whilst this was a silly mistake on my part, it would be great if the exception were clearer - since at the moment it neither refers to which

[2017-09-22 14:35] edmorley opened #328 "Plugin class names missing from --inspect output"
Currently the output when using `--inspect` includes a `plugins` property, which contains an array of plugin options but not the actual name of the plugin to which the options belong.

For example:
[code]

To work out the mapping of plugins to options, I have to cross-reference against the output from `neutrino.config.toConfig()`:
[code]

This is using neutrino 6.2.0 and webpack-chain 3.3.0 with n

[2017-09-22 21:43] edmorley opened #329 "Remove node polyfill options from neutrino-preset-web that match the defaults"
Split out of:
https://github.com/mozilla-neutrino/neutrino-dev/issues/196#issuecomment-300018977

neutrino-preset-web includes the following:
[code]

However many of these match the defaults ([here](https://webpack.js.org/configuration/node/)) so could be removed.

[2017-09-23 12:24] constgen commented on #329
Is it really a bad practice?

[2017-09-23 13:37] edmorley commented on #329
I didn't say it was a bad practice; just seems unnecessary to duplicate the defaults.

I think it's actually clearer for someone reading the preset if only the deviations from webpack's defaults are listed, so they know what behaviour changes are being caused by Neutrino rather than webpack.

[2017-09-25 15:05] eliperelman commented on #328
The output of --inspect is essentially the config that will be passed to webpack, but sorted and formatted. Webpack doesn't accept this config with named output, it doesn't match its schema.

Maybe we can change `--inspect` to also allow viewing an object form of the webpack-chain config, e.g. `--inspect named`? Or `--inspect-named`?

[2017-09-25 15:08] edmorley commented on #328
Yeah I understand it's not meant to be passed to webpack, that's not what I want to use it for.

The bug here is that the current serialised representation is incomplete -- it omits key information (the plugin names) to be able to understand the current configuration.

[2017-09-25 15:09] eliperelman commented on #327
I'm not sure any error messaging will help here. The point of middleware is to be `use`d by Neutrino, not by the config:

[code]

[2017-09-25 15:15] eliperelman commented on #326
There is not *currently* a way to do this, but this is something I've thought about before. I think the best solution would be to probably allow middleware to accept through its options what its name or ID should be, e.g.:

[code]

I also think this should be managed at the middleware level, since some middleware can generate many pieces of identifiable configuration, and it's possible you may wan

[2017-09-25 15:21] edmorley commented on #327
As the person who was momentarily confused, I can promise better error messaging definitely would have helped. Did you mean instead to say it's not really possible or worth the effort?

As someone who works more closely on Neutrino/webpack, the usage above probably seems like a daft thing to do, but for someone like me who hasn't really used webpack on it's own, and whose only use of it has been v

[2017-09-25 15:22] edmorley commented on #327
(Edited the above for clarity)

[2017-09-25 15:29] eliperelman commented on #327
Yeah, I can see where `use` would be confusing. Maybe we should change `plugin.use` to something else.

My statement about better error messaging I think came across incorrect. I guess I mean the context on where this messaging would live could make this vague or unhelpful. Take the following scenario:

[code]

If this middleware were to not be used by Neutrino, then it would be up to the middlewa

[2017-09-25 15:31] edmorley commented on #327
I agree we wouldn't want middleware to have to enforce that. I was more wondering if there was a way to do so in Neutrino, given api.js is on the stack?

[2017-09-25 15:35] eliperelman commented on #328
From `--help` for `--inspect`:

You're right; this statement makes it sound like we are giving the Neutrino configuration and not the Webpack configuration. Switching it to the Neutrino config would be a breaking change. We can either fix the wording of the help to reference webpack, or change the output. Both outputs are useful, so we need a way to see both.

[2017-09-25 15:41] eliperelman commented on #327
The only thing I can think of is doing some more with uncaught exceptions, and trying to infer problems based on exception messages.

[2017-09-25 15:42] edmorley commented on #328
I think we might still be miss-understanding each other?

I don't really mind whether the output is technically neutrino config or webpack config, all I would like is for the output to include as much of the configuration as possible. However at the moment names of the plugins aren't specified anywhere.

From the OP above:
[code]

Now whilst I can guess that these plugin options are for the `Envir

[2017-09-25 15:45] edmorley commented on #328
Though as a separate issue/feature request, having a way to view both the Neutrino config and webpack configs would be useful :-)

[2017-09-25 15:56] eliperelman commented on #328
I think I understand: right now you are seeing the webpack config, and you want the Neutrino config so you can see the names of entities.

[2017-09-25 15:59] edmorley commented on #328
I think I see where the confusion is coming from - surely the webpack config has to include the plugin names at some point? (Yes passed as objects, but that could still be serialised?)

[2017-09-25 16:02] edmorley commented on #328
And just in case, another clarification: By plugin names, I'm not meaning the identifier (eg `style`) given to plugins in Neutrino, I'm meaning the actual module/class name of the webpack plugin.

[2017-09-26 13:25] edmorley opened #330 "Use babel-minify-webpack-plugin instead of babili-webpack-plugin"
The [babili-webpack-plugin](https://www.npmjs.com/package/babili-webpack-plugin) npm package has been renamed to [babel-minify-webpack-plugin](https://www.npmjs.com/package/babel-minify-webpack-plugin).

It looks likes new versions will only be released under the new npm package name, so Neutrino will need to switch over to it at some point.

See: webpack-contrib/babel-minify-webpack-plugin#55

[2017-09-26 18:01] edmorley commented on #272
In addition to the use-case of importing SVGs directly in a project's JS, this issue also affects HTML assets loaded by `html-loader` that refer to SVGs (for example when passing a custom template to `html-webpack-plugin`).

It seems really broken for consumers of `svg-url-loader` to have to know whether to pass in `noquotes` or not. For the `html-loader` use-case I've filed:
bhovhannes/svg-url-lo

[2017-09-26 21:23] eliperelman commented on #330
Fixing in https://github.com/mozilla-neutrino/neutrino-dev/pull/315/commits/b6958133605f6c3e3bff0d395aee2a5da2d5118c.

[2017-09-26 21:23] #330 closed

[2017-09-26 21:26] eliperelman commented on #329
Fixing in https://github.com/mozilla-neutrino/neutrino-dev/pull/315/commits/d0087adca2e8b7ddab0af2027ec1f0b184fc154c.

[2017-09-26 21:26] #329 closed

[2017-09-26 21:39] eliperelman commented on #326
I've got a patch in the v7 branch that will allow doing this, although it's not documented yet.

https://github.com/mozilla-neutrino/neutrino-dev/pull/315/commits/0f037d895dc0d76db1c8732c7267294a62273473

[2017-09-26 21:50] edmorley commented on #326
Many thanks for that and the others! :-)

[2017-09-27 13:21] edmorley opened #331 "Add the tests directory to default lint include"
Currently neutrino-middleware-eslint defaults the directory `include` list to just `[neutrino.options.source]`:
https://github.com/mozilla-neutrino/neutrino-dev/blob/10819ad89d9d408f79e29487af5ea430701ac6df/packages/neutrino-middleware-eslint/index.js#L30

It seems like linting should also be run against tests - and so `include` default instead to `[neutrino.options.source, neutrino.options.test]`

[2017-09-27 14:00] edmorley opened #332 "Neutrino lint results differ from neutrino build"
As part of upgrading to Neutrino v6, I was going through Treeherder's existing eslint `globals` configuration, to see if there were any entries that were no longer required. I found that if I commented out the `'React'` global, then whilst `neutrino lint` would report no errors, `neutrino build` returned:

[code]

At first I thought this might be a `NODE_ENV` difference, however it turns out to ac

[2017-09-28 08:53] constgen commented on #272
The new test suite is available on the same link https://mega.nz/#!KZFlCD6B!ziIF6WMlEArcD8RPJChIsteJLIQfDgzKmlTxXyUlSxI . You need to link the Neutrino locally and switch to `bugfix/svg-loader` branch to see the results.

There are bad and good news.
- **Good**: the new loader config uses different settings in styles and rest of module types to correctly provide image URL. Background, HTML, import

[2017-09-28 14:25] #332 closed

[2017-09-28 14:27] eliperelman commented on #272
@constgen would this problem go away if we used file/url-loader instead?

[2017-09-28 14:37] eliperelman commented on #331
The reason why the test directory is currently left out is it usually requires a different set of linting rules because of the test environment, sometimes from assumed globals. My thoughts to this point have been, if they want tests linted, they can override to add the directory and make the changes to support their test environment.

If we had a good answer to this, I think I might be persuaded t

[2017-09-28 15:16] constgen commented on #272
Yes, it would. But we need to provide an alternative for those who uses SVG markup for inlined isons.

[2017-09-28 16:00] eliperelman commented on #272
Not sure what you mean, can you elaborate?

[2017-09-28 16:07] edmorley commented on #272
So I've spent some more time digging into this...

I've come to the conclusion that `svg-url-loader` shouldn't **ever** be adding quotes to the data URI string it returns, and that the only reason it does so is because of a bug in `css-loader` that means imported data URIs aren't correctly wrapped in quotes like in-line ones would be.

I've created a reduced STR at webpack-contrib/css-loader/issue

[2017-09-28 16:23] eliperelman commented on #326
Leaving open to document this.

[2017-09-28 16:24] eliperelman commented on #324
This is now available in v7 by reading `neutrino.options.command`.

[2017-09-28 16:24] #324 closed

[2017-09-28 16:25] eliperelman commented on #309
When you get a chance, could you test this with Neutrino v7? Webpack 3, which Neutrino v7 includes, now builds almost 2X faster for me.

[2017-09-28 16:25] eliperelman commented on #307
This is now possible in Neutrino v7 with `--options.config.devServer.open`.

[2017-09-28 16:25] #307 closed

[2017-09-28 16:26] eliperelman commented on #303
Resolved in Neutrino v7's docs:

https://neutrino.js.org/webpack-chain

[2017-09-28 16:26] #303 closed

[2017-09-28 16:27] eliperelman commented on #290
This is now resolved in Neutrino v7 which removed the `static` option, but makes copying more of a manual process. Still will copy from `src/static`, but overridable with using the copy middleware.

[2017-09-28 16:27] #290 closed

[2017-09-28 16:27] eliperelman commented on #276
Done in the v7 docs.

[2017-09-28 16:27] #276 closed

[2017-09-28 16:28] eliperelman commented on #267
Shipped in Neutrino v7! 🎉

[2017-09-28 16:28] #267 closed

[2017-09-28 16:29] eliperelman commented on #244
Released in Neutrino v7 and eslint middleware v7.

[2017-09-28 16:29] #244 closed

[2017-09-28 16:31] eliperelman commented on #272
@edmorley wow, great analysis, thank you so much!

Luckily, I decided I revert back to using url-loader for SVGs right before I released Neutrino v7, so we should be safe there right now.

Closing, and we can add the svg-url-loader back when other packages get updated.

[2017-09-28 16:31] #272 closed

[2017-09-28 16:34] eliperelman commented on #251
I tried using workspaces in Neutrino, both standalone, with lerna, and with oao. They seemed to be completely broken with Neutrino, and I just think yarn's workspaces are still buggy.

[2017-09-28 16:36] eliperelman commented on #318
Closing with posted solution. If that doesn't seem to be correct, please feel free to reopen. Thanks!

[2017-09-28 16:36] #318 closed

[2017-09-28 16:40] eliperelman commented on #323
Ah, I think I may see the issue. Right now the node preset does some asset copying, and when you also add the copy plugin, it creates another instance. Not necessarily a problem, just have two copying instances.

Closing as resolved, please let me know if that doesn't seem right to you. Thanks!

[2017-09-28 16:40] #323 closed

[2017-09-28 17:19] timkelty commented on #272
Thanks to all, and sorry for causing this headache initially!

[2017-09-28 18:17] eliperelman commented on #272
@timkelty no worries at all, it's a great learning experience for all of us!

[2017-09-29 02:59] edmorley commented on #331
Ah fair point - happy to punt on this :-)

[2017-09-29 07:07] constgen commented on #272
Can we merge my changes in v6? At least they will resolve some problems.

[2017-09-29 07:22] constgen commented on #331
Test middlewares can override this setting if they provide all necessary plugins for linting, are they?

[2017-09-29 16:30] edmorley opened #336 "require_test.js failures on Windows during test-module directory cleanup"
On master, if I run `yarn && yarn bootstrap && yarn test` on Windows, I get:
[code]

Running `yarn test` again after that, shows not only that error, but also another one:
[code]

The first error is resolved if I move the `process.chdir(cwd);` call to before `remove(rootPath)` - presumably Linux/OS X is fine with removing a directory when it's the current directory but not Windows.

The second err

[2017-09-29 17:18] edmorley commented on #336
I thought it might just be easier to open a PR for this approach, since it'll be easier to discuss: #337.

[2017-09-29 23:13] edmorley commented on #251
I've just tried {native yarn workspaces, traditional lerna, traditional lerna but with hoisting enabled, lerna using yarn workspaces} using nodejs 8.5.0, yarn 1.1.0 and lerna 2.2.0.

Out of those, everything apart from the hoisting one worked pretty well (apparently using lerna hoisting mode + yarn falls back to npm for certain things so is buggy: lerna/lerna#852).

The one thing I did have to cha

[2017-09-29 23:30] edmorley commented on #251
It's worth noting as well that eslint checks for missing dependencies (I didn't realise it did this - pretty handy!) - eg:

[code]

...which mitigates my concern that any hoisting type solution (either traditional lerna with hoisting enabled, or yarn workspaces) could result in publishing a package that is missing dependencies from it's `package.json` if another package specified them.

As such, w

[2017-09-30 14:58] #336 closed

[2017-09-30 15:04] edmorley commented on #251
It looks like yarkpkg/yarn#4583 will fix a number of yarn workspaces issues, after which we can revisit.

[2017-10-02 14:35] eliperelman commented on #251
Yeah, most of my problems may have just been with a bunch of Yarn bugs. Hopefully that releases soon.

[2017-10-02 14:36] eliperelman commented on #251
Regarding Yarn version, I had tried 0.28 as well as 1.0.0 when it released.

[2017-10-03 14:43] edmorley opened #341 "Tag for 5.9.1 is missing"
It's not exactly urgent, but I noticed the other day that the tag for 5.9.1 is missing.

It looks like it was released from the `hotfix-5.9.1` branch:
https://github.com/mozilla-neutrino/neutrino-dev/compare/hotfix-5.9.1

I'm presuming if that commit were tagged we could also clean up that now unneeded branch?

[2017-10-04 20:50] constgen opened #342 "Decorators transpilation is broken in React preset"
Have spent 2 days without result to integrate decorators transpilation to Babel on project with `neutrino-preset-react`. The issue is not reproduced on the same code base but on `neutrino-preset-web`. I tried all suggestions from Internet in all possible combinations but nothing worked. The error sounds like

[code]

This is a test suite https://mega.nz/#!rN1WwYIK!hOBFn6E5akz522HOnlQFysoy8HKLEH-l4

[2017-10-04 21:24] eliperelman commented on #342
In Slack @timkelty posted this comment for how he was using decorators in his project:

[code]

Hope that helps.

[2017-10-04 22:14] eliperelman commented on #341
Tagged!

[2017-10-04 23:00] edmorley commented on #341
Many thanks :-)

I've now deleted the hotfix-5.9.1 branch.

[2017-10-04 23:00] #341 closed

[2017-10-04 23:37] timkelty commented on #342
@constgen That got me working with `mobx`, specifically.

[2017-10-05 10:33] constgen commented on #342
Thanks a lot. This information was helpful. Actually more short variant worked for me

[code]

My concerns:

- `babel-plugin-transform-class-properties` is already included in `neutrino-preset-react`. Why should we include it twice?
- What happens in Babel when we include the same plugin several times?

[2017-10-05 11:48] timkelty commented on #342
@constgen yep, your example does seem like it should be sufficient. Not sure why I had `babel-plugin-transform-class-properties` again…

It does seem like a particularly tricky way to have to go about this. What would be right way to address this in a new version of neutrino? Should `neutrino-preset-react` have a `decorators` option?

[2017-10-05 14:06] eliperelman commented on #342
Another variant could be:

[code]

I don't think adding a decorators option in the preset is the right thing because:

- Decorators still do not have a consistent or standard syntax
- Where do we draw the line on babel plugins/presets options?

Trying to document how to easily merge babel configurations would be useful though, through the use of the compile loader's `merge` function.

[2017-10-05 14:36] constgen commented on #342
I think we should discuss this as one of the options. Another one is to clearly document this as we do with Hot Module Replacement.

[2017-10-06 11:26] edmorley commented on #255
I say we wontfix this, since with yarn workspaces, yarn only gets invoked once so the leaf invocations no longer exist.

[2017-10-06 11:56] edmorley commented on #248
Looking at the Travis timings on recent runs, the notable durations are now:
* 5-7 seconds spent downloading the Travis cache archive from S3
* 6-8 seconds is spent extracting the travis cache ("Setting up build cache" section)
* 5-9 seconds spent calculating that the cache didn't need updating at the end of the run
* 19-34 seconds spent doing the root `yarn install`
* 92-186 seconds spent running

[2017-10-06 11:56] #248 closed

[2017-10-06 12:18] edmorley commented on #239
I guess one complication is that if we only hashed `.neutrinorc.js`, it wouldn't cover local files imported therein.

In addition to more Neutrino-specific caching, I guess it might be worth looking into [v8-compile-cache](https://github.com/zertosh/v8-compile-cache). Initial testing locally (ie adding it to the main neutrino package.json and then adding `require('v8-compile-cache');` to the top o

[2017-10-06 15:14] edmorley commented on #327
Looking at the stack for this instance, I see a few places where we could try catching exceptions and adding some more context to the output. For example in the `toConfig()` here:
https://github.com/mozilla-neutrino/webpack-chain/blob/a669fe03ef19d40598a0a6fc203b186a39407b58/src/Plugin.js#L34-L38

Perhaps a generic `toConfig()` on the underlying ChainedMap that caught exceptions, dumped the name o

[2017-10-06 17:10] eliperelman commented on #342
As mentioned, I don't think adding a decorators option in the preset is the right thing because:

- Decorators still do not have a consistent or standard syntax
- Where do we draw the line on babel plugins/presets options?

[2017-10-06 18:32] eliperelman commented on #309
Closing. Please re-open if you get a chance to test this and it doesn't improve.

[2017-10-06 18:32] #309 closed

[2017-10-06 21:27] eliperelman commented on #327
Yeah, I'd be willing to entertain the idea.

[2017-10-06 21:29] eliperelman commented on #239
Didn't even know about the compile cache package, that's pretty neat.

[2017-10-07 10:47] leesiongchan opened #348 "compile-loader is unable to extend once its created"
[code]

This cannot work as the plugin `BBB` will simply be ignored.

[2017-10-07 14:21] eliperelman commented on #348
Could you provide a reproducible repo where this occurs? I know many repos that do this and it works there, so I'm curious what is happening with yours.

[2017-10-08 23:50] mesteche opened #351 "neutrino-preset-jest coverage doesn't work"
I'm having trouble to get the neutrino-preset-jest working properly.
I can test my functions but i can't get a proper coverage report:
[code]
Here is my package.json
[code]
Any idea ?

[2017-10-09 12:45] edmorley opened #352 "For React projects use eslint-config-airbnb rather than eslint-config-airbnb-base"
In `eslint-config-airbnb` 8.0.0 (2016-04-21), the package was split into two parts:
* [eslint-config-airbnb-base](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb-base) for the generic (non-react) rules
* [eslint-config-airbnb](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb) which includes some react rules and inherits from `eslint-conf

[2017-10-09 13:35] eliperelman commented on #348
Ah, I think I see what is going on. In your original usage of the compile loader you are using the babel merge, but in the second, it's just using a deep merge, not the babel-merge.

[2017-10-09 13:39] edmorley commented on #352
I guess the options boil down to:
a) Accept that we're going to have more missing peer dependency warnings for some cases
b) Prevent the missing peer dependency warnings by adding some of them as `dependencies` that will sometimes be unused
c) Create a `neutrino-preset-airbnb` to go alongside `neutrino-preset-airbnb-base` (perhaps putting react in the name to make things clearer)
d) Decide it's ha

[2017-10-09 13:49] eliperelman commented on #352
The status quo and path to least resistance. This represents a slightly degraded developer experience though since users may think they've either installed incorrectly or missed something.

I think this is a legitimate solution, especially since these dependencies are build-related and not application-related.

This technically already exists in a community preset with https://www.npmjs.com/packag

[2017-10-10 10:50] edmorley commented on #251
Yarn 1.2.0 is out which includes a couple of significant workspaces improvements. However I just went through the yarn issue tracker and there are still half a dozen other workspaces bugs that I could repro using 1.2.0, so perhaps worth waiting a little longer.

In the meantime we could always still update to newer yarn, once we update to the new oao update and see whether the error messages went

[2017-10-10 15:17] edmorley commented on #255
Actually it looks like this already works using oao 0.10.3 and yarn 0.28.4:
https://travis-ci.org/edmorley/neutrino-dev/jobs/286084290

Example demonstrating the job turning red when it should do:
https://travis-ci.org/edmorley/neutrino-dev/jobs/286085987

[2017-10-10 16:52] #255 closed

[2017-10-12 08:20] jackysee opened #356 "The generated eslint config is invalid"
I generate the `.eslintrc.js` using the api `neutrino.call('eslintrc')`. Eslint 4.7.2 is installed at project root so that the sublimelinter would use it to do the linting. But it doesn't work right now. I run it manually and found that eslint's config validator is complaining:
[code]

The generated `.eslintrc.js` is
[code]
I found that I have to delete a bunch of top-level properties to give a pr

[2017-10-12 17:14] eliperelman commented on #356
I can replicate this as well.

[2017-10-12 17:16] eliperelman opened #357 "Provide option to render CLI using webpack-dashboard"
I think it would be nice to provide the webpack-dashboard as a visualization option using something like:

[code]

https://github.com/FormidableLabs/webpack-dashboard

[2017-10-13 17:30] #356 closed

[2017-10-17 11:04] bcalik commented on #184
Could anyone give a detailed example for new startes like me?
I need to change `lang="en"` attribute to `lang="tr"` in `<html>` tag.
I also need to add or customize some meta tags.
cc @eliperelman @tarjei

[2017-10-17 11:30] bcalik commented on #184
I realized that neutrino does not use recent html-webpack-template package.

Because this PR does not seem to affect, because it also removes old conditional IE tags, but neutrino still generates these old IE tags.

https://github.com/jaketrent/html-webpack-template/pull/35

[2017-10-17 13:09] edmorley commented on #184
So looking into that package more, it appears there's a problem with the version numbering used by it. The new feature you mention was released in 5.6.0, however that version number is older than the versions that came before it (6.0.0 and 6.0.1), which is why neutrino's `^6.0.1` version range isn't picking it up.

I've filed jaketrent/html-webpack-template#59 for fixing the version number and mak

[2017-10-17 15:53] eliperelman opened #360 "Scaffold new Neutrino projects with a CLI helper"
I foresee enabling a very minimal scaffolding tool that could work with yarn or npx:

[code]

This would then open an interactive session to select project type, like React, Node.js, Web, React components, or a library, maybe to add linting, and then testing. This would output a new directory where we could:

- `npm init` or `yarn init`, depending on which command was used to start the scaffold.
-

[2017-10-17 15:54] eliperelman commented on #360
This would let us eliminate maintaining the starter kits, and allow for a much quicker developer experience, as well as easier documentation for getting started.

[2017-10-17 17:12] helfi92 commented on #360
I agree, maintaining the starter kits is kind of a hassle. I love this idea. I can work on it!

[2017-10-17 18:00] eliperelman commented on #360
Awesome! I have reserved the package name in the meantime so we can publish it when ready. Feel free to add another monorepo directory for this.

[2017-10-17 19:21] edmorley commented on #184
For now I've opened #361 to make neutrino-middleware-html-template use the version with the most recent content.

[2017-10-17 19:29] edmorley commented on #251
@eliperelman, I don't suppose you could outline some of the workflows you use oao for? Knowing what steps you take and the expected outcome (eg things like "when I do a release I want every package version number to be bumped, not just the changed packages") would help me test yarn workspaces/lerna for compatibility with them.

(Context: The latest neutrino release didn't update all the versions p

[2017-10-18 00:29] eliperelman opened #362 "Setting options.output to relative directory above project directory causes clean middleware to not work"
If you override the `output` directory like so:

[code]

The `clean` middleware/plugin no longer works.

[2017-10-18 14:06] eliperelman commented on #251
@edmorley here is what I use oao for:

### Linking packages together

This is normally done with `yarn bootstrap` or `yarn oao bootstrap`. This would be solvable by yarn workspaces.

### Checking outdated packages

I usually run in the root:

[code]

Which walks through all sub-packages and tells me what packages are out of date. Analogous to just running `yarn outdated` inside a package that woul

[2017-10-19 06:19] zeropaper opened #363 "Problems testing React component"
I am trying to setup tests for a React component with the following dependencies
(npm version is 5.5.1, node is 8.3.0)

[code]

with the following test file content:

[code]

but get the following error:

[code]

Of course I had a look at link provided by the error message but I cannot find where to put the following piece (as described):

[code]

Any idea what I am missing?

[2017-10-19 09:31] iongion opened #364 "Cannot understand why a setup with react + eslint + airbnb has linting issues"
I use Visual Studio Code as my IDE, eslint is installed globally, and the IDE is set-up to perform linting using eslint, with the following project structure:

*package.json*:
[code]

*.neutrinorc.js*
[code]

*.eslintrc.js*
[code]

*src/index.jsx*
[code]

*src/Application.jsx*
[code]

IDE specific:

*.vscode/settings.json*
[code]
*jsconfig.json*
[code]

No matter what I do, running `npm run lint`

[2017-10-19 09:38] iongion commented on #364
The solution mentioned here https://github.com/mozilla-neutrino/neutrino-dev/issues/273 does not work, I cannot switch to  `neutrino-preset-airbnb` because this one is too old, webpack is not supported
As the person mentioned there, we try to use neutrino to avoid these kind of problems, I just followed the tutorial and it took me into this situation.

[2017-10-19 13:51] eliperelman commented on #364
I'm investigating this, as I can replicate locally. Not sure why yet, but I'll take a look.

[2017-10-19 16:58] eliperelman commented on #364
Looks like the major stopping point is that you aren't using the `react:recommended` settings with your lint configuration, which is the selling point of using `neutrino-preset-airbnb`. I'll see if we can get movement on the relevant PR.

[2017-10-19 16:58] eliperelman commented on #364
https://github.com/mozilla-neutrino/neutrino-dev/issues/364

[2017-10-20 14:30] edmorley opened #367 "Add support for multiple entry-points"
In #326 the ability to manually use multiple instances of certain types of middleware (including `neutrino-middleware-html-template`) was added, which helped reduce the boilerplate mentioned there.

However configuring Neutrino to use multiple entry-points is still pretty painful, due to the number of other parts of the build that reference `neutrino.options.entry`.

For example one has to:
1. Rem

[2017-10-20 16:01] eliperelman commented on #364
I think the airbnb preset has been released, would you give that a try?

[2017-10-20 16:10] edmorley commented on #364
I guess this is another reason to resolve #352 some way.. :-)

[2017-10-21 01:59] eliperelman commented on #251
Was still having trouble publishing after being completely unable to move forward. I switched to using workspaces and lerna, and even though it still needs some configuration, I was at least able to push out v7.2.1.

I didn't mean to have it committed to master, but I was working in that branch and lerna had committed it, so unless we want to cherry pick the right changes, we can roll with it sinc

[2017-10-21 02:03] eliperelman commented on #363
Hello @zeropaper! Since you are using Jest, you should be able to place the file in a `test_setup.js` file, then configure Jest to use this file for setup prior to testing:

[code]

Give that a shot and let me know.

[2017-10-21 05:33] zeropaper commented on #363
Works like a charm!
Thank you so much @eliperelman !

[2017-10-21 05:33] #363 closed

[2017-10-21 09:40] iongion commented on #364
@eliperelman did the changes, but now there is one issue left, apparently it does not detect the proper env:
[code]
And this, even if I have forced the `.eslintrc.js` with:
[code]

The `package.json` became:
[code]

With `.neutrinorc.js` set to:
[code]

With `.eslintrc.js` set to:
[code]

Now, to do react development, does one need to use all of them together(I saw it here https://github.com/mozil

[2017-10-21 16:56] iongion commented on #364
I just realized, with the updated airbnb, I still get the build error `npm run build`:
[code]

[2017-10-21 18:56] eliperelman commented on #364
@iongion the Airbnb preset only controls how your project is linted, you still need a build preset, as noted on the docs for the Airbnb preset:

So in your `.neutrinorc.js`, put your airbnb preset and then your react preset:

[code]

[2017-10-21 18:58] eliperelman commented on #364
Also, you won't be using a node preset with a react preset, since the node preset is for building Node.js applications, and the react preset is for building web applications.

[2017-10-21 19:03] eliperelman commented on #367
I like this idea, but I am concerned about the precedent for an inconsistent entry. At the least, this should probably be normalized into an object, but maybe we can do better with a more explicit API?

[code]

🤔

[2017-10-21 19:04] eliperelman commented on #357
Another interesting project:

https://github.com/webpackmonitor/webpackmonitor

[2017-10-21 19:17] eliperelman commented on #348
Closing as noted in my previous comment. If that doesn't work for you, please re-open. Thanks!

[2017-10-21 19:17] #348 closed

[2017-10-21 20:23] edmorley commented on #367
Ah yes that sounds good too.

I also forgot to mention one point - the reason why I hadn't suggested that people iterate `neutrino.config.entryPoints.values()` directly, was that it includes vendor/manifest, which most of the time will want to be excluded. However your proposal sounds like it will still be only including the user-provided entry points, so should be fine :-)

[2017-10-21 20:27] eliperelman commented on #351
Sorry for the delay, figuring out the right solution for this one was a little tricky. I have a PR open that should fix this soon. Thank you for your patience!

[2017-10-22 11:23] iongion commented on #364
Finally, it works, just removed almost everything from `.eslintrc.js`:

[code]

and

// .neuntrinorc.js
[code]

plus an awesome `package.json`
[code]

The full project:
[dog-editor-ng.zip](https://github.com/mozilla-neutrino/neutrino-dev/files/1404816/dog-editor-ng.zip)

It works, it lints the same in the IDE and from the linter task itself, the React/Browser idioms are also properly recognized!

[2017-10-22 14:07] eliperelman commented on #364
My pleasure! If you want to shorted up your `.eslintrc.js` file more, If you  don't pass an array to the `.call` method, it will use the same middleware as your `.neutrinorc.js` file:

[code]

Good luck with your project!

[2017-10-22 14:07] #364 closed

[2017-10-23 14:55] eliperelman opened #370 "Allow .neutrinorc.js to be a directory"
Right now we do a file-exists check on `.neutrinorc.js` to make sure we have the file before requiring it, but this prevents it from being a directory, which can be nice sometimes when you want to split it up into multiple files.

Just need to switch this check to be non-file-specific.

[2017-10-23 15:25] eliperelman commented on #251
Going to close this since we accidentally already moved to lerna. 😆

We can improve the dev experience by adding more yarn scripts if needed.

[2017-10-23 15:25] #251 closed

[2017-10-23 15:44] eliperelman opened #371 "Inline html-webpack-template"
For the sake of expediency, I'm thinking we should inline the template from html-webpack-template directly into the html-template middleware. Basically, copy the file from https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs and place it in the html-template middleware.

Their project is MIT licensed, so we should probably reference that in the file.

[2017-10-23 15:47] eliperelman commented on #362
The fix for this is to pass the `allowExternal: true` option to the clean middleware. We do not want to do this by default as it poses a risk to the user for accidentally deleting unintended directories.

Instead, the fix for this issue will involve adding a new section to the clean middleware docs outlining how to use the option to remove directories outside of the project directory using this op

[2017-10-24 11:51] #351 closed

[2017-10-24 12:03] eliperelman commented on #367
You raise another point about the conflation of entry options and webpack entry points. How can we make this clearer, less confusing, more intuitive to users? Maybe we should consider renaming `options.entry` to something like `options.pages`?

[2017-10-24 12:06] eliperelman commented on #367
I say this so we can make it clear that to add two pages, you might do:

[code]

[2017-10-24 15:37] edmorley commented on #357
I tried this one since it looked superior from the screenshots, however with it the builds for Treeherder would hang or OOM and not complete. I've not had a chance to write a reduced testcase for them (and realistically might not in the foreseeable future).

[2017-10-24 15:40] edmorley commented on #363
Perhaps this is worth adding as another example thing to customise? Here:
https://neutrino.js.org/presets/neutrino-preset-jest/#preset-options

@zeropaper, I don't suppose you'd be up for such a PR? :-)

The files that would need editing (due to the duplication from the way docs/packaging is set up) are:
https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/neutrino-preset-jest/REA

[2017-10-24 15:43] eliperelman commented on #357
The repo for https://github.com/FormidableLabs/electron-webpack-dashboard looked pretty good as well, with the caveat that it required you to install an Electron app prior to being able to run. If this could spin up a browser window instead that would be nice, or even if it installed itself when installing deps, that would be nice.

@kenwheeler would you happen to know if it's possible to consume

[2017-10-24 16:15] edmorley commented on #371
I think my preference would be to open a PR for jaketrent/html-webpack-template#61, and only after inline that cleaned up template into this repo (which may not even be necessary, given that PR has had a response).

[2017-10-24 16:16] edmorley commented on #251
Is the publish script still being used? If not we can remove that too. I wonder whether we should also switch to opening a PR for bumping a new version, so it can be reviewed/double-checked until we're confident in the new system?

[2017-10-24 16:18] eliperelman commented on #371
That sounds awesome, and I'm glad to see movement in this direction! As long as the template can stay configurable from "configuration", I'm all for it. I'm going to close this for now, and we can address in the future if the need arises.

[2017-10-24 16:18] #371 closed

[2017-10-24 16:36] eliperelman commented on #251
Oops, forgot to delete that. Yeah, it can be removed.

Regarding reviewing, we will have to see if lerna can stage a publish without actually doing it. My concern is the dependency upgrades, like presets depending on middleware.

[2017-10-25 05:55] zeropaper commented on #363
@eliperelman I might have some time in the next days and I would be glad to do it. :)

[2017-10-25 15:27] constgen opened #374 "Jest testing throws an exception when config doesn't have Babel"
Test suite: https://mega.nz/#!HdMnVbRI!3s6VchrK3EFxzsUTF-DUVb5G5PvW4SGNYzepzI7gLCs

I created a very simple preset for building an UMD library bundle. Building works correctly. But testing with `neutrino-preset-jest` thrown an exception:

[code]

My assumption: this issue happens when there is no Babel in a Webpack config

[2017-10-25 15:39] constgen opened #375 "Incremental building is not performed on basic config"
Test suite: https://mega.nz/#!HdMnVbRI!3s6VchrK3EFxzsUTF-DUVb5G5PvW4SGNYzepzI7gLCs

Here is a very simple custom preset for building a library in UMD format. I used `neutrino.config.watch(true)` and expect build process to restart on changes in File System. The goal is to rebuild library on any changes in a source code and write it to the hard drive.

Build task just is finished after successful b

[2017-10-25 15:49] constgen opened #377 "ESLint middleware can't consider .eslintrc"
Test suite: https://mega.nz/#!HdMnVbRI!3s6VchrK3EFxzsUTF-DUVb5G5PvW4SGNYzepzI7gLCs

Here is a simple preset. It uses `neutrino-middleware-eslint`. The middleware is configured with

[code]
I expect it to take `.eslintrc` file from the root of the project and report errors. But running lint task can't find any errors in code

[code]

But in the code editor I see multiple mistakes in the `index.js`

[2017-10-25 15:50] constgen commented on #377
You can see also other issues related to the same preset:
- https://github.com/mozilla-neutrino/neutrino-dev/issues/374
- https://github.com/mozilla-neutrino/neutrino-dev/issues/375

[2017-10-25 15:51] constgen commented on #374
You can see also other issues related to the same preset:
- https://github.com/mozilla-neutrino/neutrino-dev/issues/377
- https://github.com/mozilla-neutrino/neutrino-dev/issues/375

[2017-10-25 15:51] constgen commented on #375
You can see also other issues related to the same preset:
- https://github.com/mozilla-neutrino/neutrino-dev/issues/377
- https://github.com/mozilla-neutrino/neutrino-dev/issues/374

[2017-10-25 16:52] helfi92 commented on #360
I have an initial patch for this: https://github.com/mozilla-neutrino/neutrino-dev/pull/376

[2017-10-25 17:07] helfi92 commented on #360
I am hesitant to perform a `git init` as well as adding a `.gitignore` file. This assumes the user is using git as their version control system. If I was using bitbucket for example, I would probably be bothered with all the git generated files. Let me know if you have a different opinion.

[2017-10-25 19:58] eliperelman commented on #377
The eslint middleware options object accepts top-level middleware options, with eslint options being provided at the `eslint` property, i.e. you should change your configuration to this:

[code]

Give that a shot!

[2017-10-26 00:26] #374 closed

[2017-10-26 00:26] #375 closed

[2017-10-26 10:30] constgen commented on #377
That worked. Thanks.

[2017-10-26 10:30] #377 closed

[2017-10-26 10:31] edmorley commented on #377
Great! Is there a docs tweak that you can think of, that might have made this clearer? :-)

[2017-10-26 10:42] constgen commented on #377
As a Neutrino contributor I usually read not documents but sources. And this was my mistake. Looking at https://www.npmjs.com/package/neutrino-middleware-eslint I could figure out how it should work.

[2017-10-26 15:59] constgen opened #380 "Lint and build tasks handle display of lint warnings differently"
Test suite: https://mega.nz/#!mRlWkToS!7o74K5v1RKOAJ64JxQ8bAG77Ch6YUgP4ugmQ9Fj0a6o

That is a minimal config to reproduce the issue.

Run `npm run lint`. It will find a single ESLint rules violation. This is expected:

[code]

Now run `npm run build`. Besides the previous error there is one additional warning.

[code]

This is not expected as `'use strict'` is not a violation by rules.

`'use stri

[2017-10-26 17:40] eliperelman commented on #380
So, the point of the .neutrinorc.js is to try and unify the configuration for many tools. My first proposition would be to move the configuration for the linting into the .neutrinorc.js.

Second, webpack is a module bundler, and the code it generates are technically modules, not scripts. the eslint middleware already sets the `sourceType` to `module`, since all the code is written in ES modules or

[2017-10-26 17:54] edmorley commented on #380
If it helps, this is documented here:
https://neutrino.js.org/middleware/neutrino-middleware-eslint/#eslintrc-config

[2017-10-27 10:15] constgen commented on #380
But `neutrino lint` works correctly, you see? It uses the same Webpack config.

Also if you try to override this option explicitly it will have no effect:

[code]

[2017-10-27 10:18] edmorley commented on #380
See the `impliedStrict` mention on:
https://eslint.org/docs/rules/strict#rule-details

...since `impliedStrict` is set here:
https://github.com/mozilla-neutrino/neutrino-dev/blob/6ea0728c95ac1a7c061428a8dd7a33db7dfd6192/packages/neutrino-middleware-eslint/index.js#L79

[2017-10-27 10:59] edmorley commented on #380
Ah I think I have an idea what's going on:
* Using the testcase zip, I get the exact errors/warnings as listed in the OP.
* If I edit `.eslintrc` to change the `strict` rule from `warn` to `error`, then both `neutrino lint` and `neutrino build` report exactly two errors (one for `strict`, one for `no-trailing-spaces`).
* If I revert those `.eslintrc` changes, and instead remove every other rule ap

[2017-10-27 13:31] eliperelman commented on #380
Yeah, that's not the intention.

[2017-10-27 13:40] constgen commented on #380
Ok. Overriding `impliedStrict` worked and it helped to resolve my task. So summary it looks like disabling some preconfigured values. I leave this here for those who faced the same problem with `.eslintrc`:

[code]

@edmorley, I confirm the wrong behavior you mentioned

[2017-10-27 15:29] edmorley opened #382 "Reducing the potential for confusion if configuring ESLint outside of Neutrino"
### Summary

As seen in #380, users sometimes don't follow the docs recommendations, and store eslint configuration outside of Neutrino. As part of this, they may also override `neutrino-middleware-eslint`'s default of `useEslintrc: false`, which can cause a few problems.

### Background

For linting, the Neutrino docs recommended:
* Keeping all linting configuration in `.neutrinorc.js` (or middle

[2017-10-27 15:47] edmorley opened #383 "See if any of the @neutrinojs/eslint defaults are unnecessary"
neutrino-middleware-eslint sets a number of ESLint defaults:
https://github.com/mozilla-neutrino/neutrino-dev/blob/6ea0728c95ac1a7c061428a8dd7a33db7dfd6192/packages/neutrino-middleware-eslint/index.js#L59-L84

As seen in #380 and then discussed in #382, the more defaults there are, the more things people have to override/keep in sync, particularly for confusing rules like [strict](https://eslint.o

[2017-10-27 15:57] edmorley commented on #380
That's great :-)

To summarise slightly, I think there were a few issues at play:
1. The ESLint [strict](https://eslint.org/docs/rules/strict#rule-details) rule is unfortunately one of the confusing ones whose behaviour can be affected by multiple settings.
2. The `neutrino-middleware-eslint` defaults include two of the settings that affect `strict`, meaning that both have to be overridden. It's p

[2017-10-27 16:05] barraponto commented on #382
It's hard to take sides since I just can't see any reason to write eslintrc files. Even in a migration scenario, it would be just as easy to incorporate the eslintrc as it is to enable eslintrc. So, I'm in favor of failing hard in case `useEslintrc` is set to true.

[2017-10-27 16:09] edmorley commented on #370
I'm not entirely sure we should support this case, it seems a bit of an edge-case? People can still `require()` other files into the root `.neutrinorc.js` file at the moment.

It just feels like we already have too many permutations for how Neutrino can be configured (eg passing multiple middleware to `--use`, `.neutrinorc.js`, passing a list of middleware in the `.eslintrc.js` API call etc).

[2017-10-27 16:36] edmorley opened #384 "Improve error message if entrypoint missing"
Currently using this config:
[code]

Or more simply, running `yarn neutrino build --use neutrino-middleware-eslint`, results in:

[code]

Ideally Neutrino would explain that "A preset or middleware that defines an entrypoint has not been found, see: ..." etc.

[2017-10-27 16:48] edmorley commented on #380
**Reduced STR:**
1. Create the following:

[code]

[code]
2. `yarn add neutrino@7.2.3 neutrino-preset-web@7.2.3 neutrino-middleware-eslint@7.2.3`
3. `yarn run neutrino lint`
4. `yarn run neutrino build`

**Expected:**
The same errors/warnings are shown for both lint and build.

**Actual:**
Build shows 1 warning, 1 error.
Lint shows just the error (and if that error is fixed by correcting `index.js

[2017-10-27 16:58] constgen commented on #382
We can change nothing in existing core modules and add a new preset just for purposes when you need to use `.eslintrc`

Preview:
[code]

[2017-10-27 17:03] edmorley commented on #382
I don't think that would work - several of the other options are needed when using CLIEngine, since they can't be set via an RC file.

[2017-10-27 17:04] edmorley commented on #382
@constgen, I guess the question to ask is: what is your use-case for using a separate .eslintrc rather than setting the config via neutrino?

[2017-10-27 17:12] constgen commented on #382
No problem. We can leave some of them.

#### Use case

You really don't have a ready Neutrino preset with rules for your project. Libraries may use quite different rules. NodeJS too. `.eslintrc` is most official and starndart way to keep rules (e.g. in Gist) and share with others. It should work because it is documented in ESLint and everybody is familiar with it.

I understand if we are not going

[2017-10-27 17:23] edmorley commented on #382
To clarify slightly - this isn't really about Neutrino just not wanting to support the standard that is .eslintrc.

It's that it's very hard (if not impossible) to come up with a way of making ESLint configuration consistent, unless everything is run through Neutrino.

As mentioned in the "Background" section of the OP above, the way ESLint is invoked is different between each of `neutrino lint`,

[2017-10-27 17:27] edmorley commented on #382
If it's just that you'd like to have the ESLint rules in a different file, then have you tried requiring such a file in your `.neutrinorc.js` and merging into the `neutrino-middleware-eslint` config that way?

[2017-10-29 01:50] eliperelman commented on #370
Normally I would agree, but this used to work, so I think of this more as a regression. If it's require-able, it should work, and I don't see the `.neutrinorc.js` as something that should be an exception here.

Totally agree, and in the next breaking change I think this will be done away with in the `call` and `run` methods. In fact, in my multi-config POC, I already did this.

[2017-10-29 02:03] eliperelman opened #387 "Correct usages of Webpack to webpack"
According to the webpack branding, the work "webpack" is **always** lowercase.

https://webpack.js.org/branding/

We should go through all the docs and revise.

[2017-10-29 19:06] edmorley opened #389 "Connect more things to --debug"
Neutrino has a `--debug` CLI option, which currently only affects two things:
* it enables `babel-preset-env` debug mode
* it causes `--inspect` to be passed to `start-server-webpack-plugin`

I've had a bit of a look, and there are a few more places where we could choose to vary behaviour when `--debug` is passed:

- [X] #391 copy-webpack-plugin: `debug` defaults to `warning`, but can also be set

[2017-10-29 22:02] edmorley opened #390 "Running neutrino with no command specified gives TypeError"
If the command is accidentally omitted, it results in the following:
[code]

Ideally the usage information would be given instead.

[2017-10-29 22:21] eliperelman commented on #390
Odd, I wonder why this isn't being hit:

https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/neutrino/bin/neutrino#L71

[2017-10-30 10:14] edmorley commented on #184
The `html-webpack-template` package has now released a fixed 6.0.2, so we should be good to use the highest version number next time we bump deps for neutrino-middleware-html-template.

[2017-10-30 13:02] constgen commented on #382
I thought about this but didn't do for a reason. I have to duplicate the logic of config searching from ESLint `.eslintrc` -> `.eslintrc.json` -> `.eslintrc.js`

[2017-10-30 18:00] #390 closed

[2017-10-30 18:24] eliperelman commented on #182
Renovate has since switched to an integrated github app model, which works pretty well. I've added it to neutrino-dev, so I think we can consider this done now.

[2017-10-30 18:24] #182 closed

[2017-10-30 19:34] eliperelman commented on #352
I added a note to the Airbnb-base preset in #396 that React users should probably use the airbnb preset instead. Is that resolution good enough?

[2017-10-30 19:36] eliperelman commented on #328
Note that this would be a breaking change, since switching the format of the inspection would break uses of diff: `git diff --no-index a.inspection b.inspection`.

[2017-10-30 19:37] eliperelman commented on #306
I'm going to close this as something we aren't going to handle in core right now. If someone from the community wants to pick this up, that would be very appreciated!

[2017-10-30 20:30] graingert commented on #306
Bummer

[2017-10-30 23:24] evliu opened #410 "Attaching a debugger to react preset"
I've been googling a lot, but does anyone know how to attach a debugger from something like VSCode or WebStorm to `neutrino start` so I can add in some breakpoints? Thx!!!

[2017-10-30 23:27] #410 closed

[2017-10-31 12:34] #384 closed

[2017-10-31 14:51] edmorley commented on #352
I would really prefer to have this functionality handled by a stock Neutrino preset (whether that be a separate preset like (c) above, or else rolled into an existing one like the other options) rather than a community preset.

[2017-11-01 13:55] eirikurn commented on #383
IMO emitWarning and emitError should have default values. Both force all eslint issues as warnings and errors respectively. When both are set, emitError takes precedence, causing eslint warnings to be reported as errors and breaking the build.

The default logic is better (emitError: false, emitWarning: false). Then eslint issues are reported as warnings unless one of them is an error.

[2017-11-01 21:30] eliperelman opened #413 "Migrate packages to scoped npm namespace"
Right now if we want to support official packages, we have to deal with conflicting names in the community. If we move to scoping the packages under an npm org, we would be able to work around this. I created the `@neutrinojs` org, since neutrino was already in use. We could explore this for v8.

[2017-11-01 22:08] eliperelman commented on #413
If you want a preview of what this would look like, I've got one here:

https://github.com/mozilla-neutrino/neutrino-dev/compare/v8-dev...eliperelman:scoped-packages

[2017-11-01 22:11] eliperelman commented on #413
Pros:

- Succinct package names
- Quicker scanning in package.json, since they are towards the top of dependencies
- No more cognitive overhead between presets and middleware
- Shorter URLs for docs

Cons:

- (will edit this because I thought of one but then I forgot it 🤣 )

[2017-11-01 22:14] eliperelman opened #414 "Migrate webpack-chain into monorepo"
This would let us consolidate this API's development with the rest of Neutrino, and keep its versioning in sync. GitHub unfortunately won't let us carry over stars, but that's OK.

We can consider renaming as part of v8 as well, like `@neutrinojs/chain`, if we move forward with scoped packages.

[2017-11-02 01:59] eliperelman commented on #84
Initial proof-of-concept of a library preset:

https://github.com/eliperelman/neutrino-dev/compare/scoped-packages...eliperelman:library-preset

Plan on shipping an iteration of this with Neutrino v8.

cc: @edmorley @helfi92

[2017-11-02 16:40] indigofeather opened #415 "`neutrino lint` has broken after upgrade to neutrino@7.3.0"
I got different result with the same code.

## v7.2.3
![image](https://user-images.githubusercontent.com/512821/32337853-1356030c-c02e-11e7-8efc-de79e8bbb7f9.png)

## v7.3.0
![image](https://user-images.githubusercontent.com/512821/32337975-6d0c5af4-c02e-11e7-9d2d-3c69f33d1688.png)

[2017-11-05 10:55] hcarreras commented on #136
In case someone stumbles upon this while googling a similar issue. I was following an old tutorial which had a webpack.config.js older that 2.x
I solved it by adding the context to the path:

In my case, this was the working example:

[code]

[2017-11-05 17:03] Cheonsoon opened #417 "How to reload .neutrinorc.js without a restart"
Hi, it works well for webpack-dev-server reload modified scripts in 'src' directory. But how can I made it possible to reload scripts (like '.neutrinorc.js') outside the 'src' directory?

[2017-11-06 16:59] constgen commented on #417
I don't know any ways without black magic. It is a Node module. So it is cached in Node process registry and not required more than ones. Even if you will change it in the File System and require it in a runtime the original version will be executed - the version of a moment when `neutrino start` was called

[2017-11-07 03:26] #417 closed

[2017-11-13 15:15] #415 closed

[2017-11-13 15:24] eliperelman commented on #417
Just wanted to follow up here; @constgen is correct. Right now Neutrino doesn't have a way to re-start the compilation process when the `.neutrinorc.js` file changes. The best course of action would be to kill and re-run when that happens. Would happily accept a PR to implement this if anyone is interested. Best of luck.

[2017-11-14 06:21] eliperelman commented on #300
Being addressed by #425.

[2017-11-14 06:28] eliperelman opened #428 "Provide official airbnb middleware"

[2017-11-14 06:29] eliperelman opened #429 "Add official base library middleware"
Use the taskcluster library as a base and import as `@neutrinojs/library`.

[2017-11-14 06:30] eliperelman opened #430 "Move react-components preset to monorepo"
This will import https://github.com/eliperelman/neutrino-preset-react-components/ to here.

[2017-11-14 20:01] eliperelman opened #433 "Use cache-loader with compile-loader"
https://github.com/webpack-contrib/cache-loader

[2017-11-14 22:59] #413 closed

[2017-11-15 09:43] iongion commented on #121
@dioklecijan how does your `.eslintrc.js` look like ?

[2017-11-15 20:15] helfi92 commented on #360
@eliperelman Are there any other features we would like to add to the scaffolding tool besides the ones that got merged? I can help out.

[2017-11-15 20:18] eliperelman commented on #360
Vue and preact would be epic.

[2017-11-15 20:20] helfi92 commented on #360
Oh yeah! Awesome idea. I'll look into it.

[2017-11-16 01:27] eliperelman commented on #367
I think using the term "pages" is presumptuous of it being a web app, and doesn't apply to libraries or Node.js apps.

[2017-11-16 01:28] eliperelman commented on #367
@edmorley would you be interested in taking this one on for v8?

[2017-11-16 01:50] eliperelman commented on #382
Been gathering my thoughts, here goes:

**I think if you are using eslint middleware, you should configure via `.neutrinorc.js`.**

That's a divergence from the stance we have taken with supporting eslintrc so far, but I think it's the best to maintain going forward. You can continue to use eslintrc.js for editor hints, etc., but modifying linting from there just isn't sustainable.

_If you want t

[2017-11-16 01:57] eliperelman commented on #380
I haven't re-checked the source yet, but my guess is this is a discrepancy between how eslint-loader handles warnings and errors using CLIEngine in the `build` command, and how we are differing using CLIEngine in the `lint` command. We can either change these options, or have a look at the eslint-loader code to see if we should be doing something better, maybe by adopting options for `failOnWarnin

[2017-11-16 03:00] eliperelman commented on #360
We should probably merge into master now so that way we can easily add some new packages for vue and preact.

[2017-11-16 03:01] helfi92 commented on #360
Sounds good to me. Feel free to perform the merge :)

[2017-11-16 12:04] timkelty opened #439 "style-loader: support style extraction via extract-text-webpack-plugin"
This is currently possible via https://github.com/jaridmargolin/neutrino-contrib/tree/master/packages/neutrino-middleware-extractstyles or https://github.com/barraponto/neutrino-preset-extractstyles, however, it requires being pretty tightly coupled to the existing `style` rule from `@neutrinojs/style-loader`.

I think it might be better to support it in neutrino core.

I'm thinking incorporating

[2017-11-16 12:54] eliperelman commented on #439
YES YES YES!

[2017-11-16 12:55] eliperelman commented on #439
I'd like extraction to become the default usage of style-loader.

[2017-11-16 12:57] eliperelman opened #440 "Enable css modules for local project files"
For the style-loader, I would like to see a default added for enabling CSS modules. I could see two potential solutions:

- Enable CSS modules for files ending in `.module.css`
- Enable CSS modules for all project CSS files

My gut tells me the first option may be the better one for keeping as a default.

[2017-11-16 13:09] timkelty commented on #439
Great (I agree). I'll whip up a PR

[2017-11-16 13:31] eliperelman opened #442 "Use preact and vue in create-neutrino-project"
The preact preset seems pretty good as-is to add to the list, just need the scaffold bits.

I'd like the vue addition to be a single addition to neutrinorc instead of 2 with web+vue.

@fa7ad @barraponto I'm going to extend an offer if you so choose: you can add your presets to core if you like, under `@neutrinojs/preact` and `@neutrinojs/vue`. If that interests you, or you want to discuss more abo

[2017-11-16 13:37] helfi92 commented on #442
Today I'll work on the scaffolding bit. I agree it's a good idea to make the vue preset a single addition to be consistent with the other presets neutrino offers.

[2017-11-16 15:11] eliperelman commented on #260
@tj would you be willing to PR this? If not, I can pick it up in the next week or so.

[2017-11-16 15:12] eliperelman commented on #128
With the fork middleware in flight in #425, I think this re-opens the possibility of making this a reality.

[2017-11-16 17:10] barraponto commented on #439
Maybe we could wait for Webpack's big plan? https://medium.com/webpack/the-new-css-workflow-step-1-79583bd107d7

[2017-11-16 17:12] eliperelman commented on #439
The problem with waiting is we don't know how long it will be until this plan goes into effect. Most likely it will mean a breaking change anyway, so that would mean another Neutrino rev.

[2017-11-16 17:49] timkelty commented on #439
Here's a working implementation: https://github.com/mozilla-neutrino/neutrino-dev/pull/443

[2017-11-16 18:11] fa7ad commented on #442
@eliperelman I'd be happy with the arrangement, just tell me what to do.

[2017-11-16 18:19] eliperelman commented on #442
@fa7ad nice! just create a directory in packages named `preact` with the contents of your current package, and we can go from there!

[2017-11-16 22:07] edmorley commented on #382
Yeah I agree, though can't decide warning vs blocking

[2017-11-17 19:08] timkelty opened #451 "Condition adding api options in lieu of repeated conditions"
Discussion started here: https://github.com/mozilla-neutrino/neutrino-dev/pull/446#issuecomment-345268552

There are lots of places where we repeat the same conditions for the same purpose. It might be nice to add some API options instead, to have a single source of truth for these repeated actions:

Examples:
- Use `neutrino.options.optimize` instead of `neutrino.options.env.NODE_ENV === 'product

[2017-11-18 00:00] timkelty commented on #451
Pretty sure I like the idea of `neutrino.options.optimize`.

Less sure about `neutrino.options.revOutput`, but:
The idea for that came when adding conditions for revving assets across a few presets…
Some were `neutrino.options.command === 'build'`, some were `neutrino.options.command !== 'start'`, etc. - and I thought it would be nice if there were a consistent option to reference instead.

[2017-11-18 05:24] fa7ad commented on #442
@eliperelman check #454

[2017-11-18 14:48] eliperelman commented on #451
I like the idea, as long as the options are synonymous across middleware for their default values. For example, if there is `neutrino.options.optimize`, and its default value is `process.env.NODE_ENV === 'production'`, then that declaration should hold true across middleware, e.g. it makes sense for any middleware to be in optimize mode when the NODE_ENV is production.

I think optimize is a good

[2017-11-18 20:00] iongion commented on #367
@edmorley how did you manage to have hot reload work for the entry ? I can't get it with the following:
[code]

[2017-11-18 21:14] timkelty commented on #451
Ok, I've added `neutrino.options.optimize` to https://github.com/mozilla-neutrino/neutrino-dev/pull/446

[2017-11-18 21:14] #451 closed

[2017-11-20 20:48] #352 closed

[2017-11-20 20:48] #428 closed

[2017-11-20 20:51] #370 closed

[2017-11-21 02:19] timkelty opened #458 "Add neutrino.options.optimize"

[2017-11-21 03:35] eliperelman commented on #458
I reverted #460 until we can get more discussion.

How should `neutrino.options.optimize` work when using raw optimizing middleware from outside a preset?

[code]

Right now the option wouldn't do anything since this middleware isn't guarded by the option. Should we wrap the middleware in this option? Should we instead make this a middleware option for those presets?

[code]

[2017-11-21 03:46] timkelty commented on #458
Yeah…now that you bring that up - that confusion is probably the best argument against making this an api option.

I'm leaning towards just making it a middleware option for node and web.

Either that - or we could expose more of the middleware options, and allow them to be omitted when `false`.

[code]

[2017-11-21 04:12] eliperelman commented on #458
Yeah lol, I didn't think of it until right after I merged it. I'm fine with keeping the option simple at the preset level, and allowing low-level changes via the API.

[2017-11-21 04:16] #429 closed

[2017-11-21 04:25] #430 closed

[2017-11-21 04:59] #260 closed

[2017-11-21 05:13] eliperelman commented on #84
Addressed in #425.

[2017-11-21 05:13] #84 closed

[2017-11-21 05:14] eliperelman commented on #300
Addressed in #425.

[2017-11-21 05:14] #300 closed

[2017-11-21 05:15] eliperelman commented on #308
Addressed in #425.

[2017-11-21 05:15] #308 closed

[2017-11-21 05:16] eliperelman commented on #360
Addressed in #376.

[2017-11-21 05:16] #360 closed

[2017-11-21 05:20] eliperelman commented on #414
Deciding to not move forward with this right now. We can revisit in the future if the need arises.

[2017-11-21 05:20] #414 closed

[2017-11-21 05:23] eliperelman commented on #458
Closing this in favor of middleware-specific options.

[2017-11-21 05:23] #458 closed

[2017-11-21 11:42] timkelty commented on #458
👍  We should keep this in mind next time we have the urge to add an api-level option.

IIRC, we moved `static` from being api-level to MW for similar reasons at the v6 release.

[2017-11-21 13:09] timkelty commented on #439
Closed via #443

[2017-11-21 13:09] #439 closed

[2017-11-21 13:12] eliperelman opened #466 "Update upgrading Neutrino guide for v7->v8"
As always, a new major release will bring breaking changes. We will need to update the upgrading Neutrino guide for v8, outlining the breaking changes, but also listing features.

[2017-11-21 14:19] lubo08 opened #468 "Not able change entry"
I would like to change for node js development index.js to server.js but I get error when I rename index.js to server.js

/home/lubo08/workspace/bimp/node_modules/start-server-webpack-plugin/dist/StartServerPlugin.js:81
      var existsAt = compilation.assets[name].existsAt;
                                              ^

TypeError: Cannot read property 'existsAt' of undefined
    at StartServerP

[2017-11-21 14:27] edmorley commented on #466
I'm still catching up on all the older recent review requests and PRs, but thought I'd comment on this new one first. I was thinking that perhaps we should turn the migration guide into a page that covers all versions? When updating several versions at once it's currently a bit of a pain to have to trawl through the old docs to find the necessary interim migration docs.

[2017-11-21 14:29] eliperelman commented on #466
I agree, let's do it!

[2017-11-21 14:59] helfi92 commented on #468
Is it possible that `compilation.assets[name]` is `undefined`?

[2017-11-21 15:01] helfi92 commented on #466
I don't mind doing this :)

[2017-11-21 15:07] eliperelman commented on #468
I tracked this down, and it's a bug. Even though the option is named `entry`, when we create the webpack entry with `config.entry()`, we still use `index`, i.e. `config.entry('index')`. This causes the built file to still be `index.js`, while the start server plugin is looking for `server.js`.

[2017-11-21 15:22] edmorley opened #470 "Problems with the use of script-ext-html-webpack-plugin"
The Neutrino web preset uses [script-ext-html-webpack-plugin](https://github.com/numical/script-ext-html-webpack-plugin) however at first glance I think it doesn't work with `html-webpack-template` (since that requires disabling injection mode, see jaketrent/html-webpack-template#61).

In addition, the docs for `script-ext-html-webpack-plugin` say:

However the web preset doesn't use `.before()`,

[2017-11-21 15:38] eliperelman commented on #470
Honestly, I can't even remember that that plugin does, maybe we don't need it.

[2017-11-21 15:56] jaridmargolin opened #471 "Ensure standardjs preset works standalone"
The `standardjs` preset has been confirmed to support jsx when using the `react` preset. It is thought this may only work because the `react` preset includes `eslint-plugin-react`.

We should ensure that the `standardjs` preset works standalone with jsx. Would recommend extending to use `standard-react` as seen here: https://github.com/jaridmargolin/neutrino-contrib/blob/master/packages/neutrino-m

[2017-11-21 16:06] jaridmargolin opened #472 "Implement e2e testing"
Neutrino is made up of many moving parts. It is paramount that these moving parts operate well with each other.

With the introduction of the new scaffolding tools, we believe there may be an opportunity to run high level overarching e2e tests that confirm common tools are able to start, build, lint, and test.

Note: I do not believe this is a replacement for adding more thorough package level tes

[2017-11-21 16:16] edmorley opened #473 "Sync up differences between the react and preact packages"
Diffing `packages/react/` and `packages/preact/` shows a few differences between the two, some of which are necessary but it would be good to sync the rest up.

[2017-11-21 16:17] eliperelman commented on #468
Fixed with #469. Released in v7.3.3.

[2017-11-21 16:17] #468 closed

[2017-11-21 16:19] eliperelman commented on #473
Current diff:

[code]

 #### npm

[code]

 ## Project Layout

-`@neutrinojs/react` follows the standard [project layout](https://neutrino.js.org/project-layout) specified by Neutrino. This
+`@neutrinojs/preact` follows the standard [project layout](https://neutrino.js.org/project-layout) specified by Neutrino. This
 means that by default all project source code should live in a directory named `sr

[2017-11-21 16:34] iongion opened #475 "Cannot find a way to disable output hash as part of generated file names"
I am using my own `index.html` and I did not find a way to get the name of the output file to be able to properly embed it, therefore I had to do this:
[code]

But, because of this, I am now unable to build due to the fact that there are identical names when using code splitting. Any idea on how I can do one of these two optons:
- be able to intercept the output name
- be able to take control of t

[2017-11-21 16:38] eliperelman commented on #475
My best guess to be able to embed these into the html file is to have a look at the source template from html-webpack-template to see how they do it:

https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs

[2017-11-21 16:48] edmorley commented on #475
We use our own index.html by passing the filename via the `template` property (make sure to also enable `inject` mode). This doesn't require changing anything else :-)

[2017-11-21 16:54] edmorley commented on #468
For hotfixes in generally, what do you think is best: landing on master then backporting or vice versa? I know of projects that do it both ways, though have a slight preference to the former :-)

[2017-11-21 17:18] iongion commented on #475
@edmorley I specifically want to assume control over inject
@eliperelman Yup, this looks to be a good starting point!

This section is responsible:
[code]

Thank you so much!

[2017-11-21 17:18] #475 closed

[2017-11-21 17:19] eliperelman commented on #468
I would generally prefer landing on master first then backporting, but I opted for the other approach right now since the packages have completely diverged between master and release.

[2017-11-21 21:23] lubo08 commented on #468
Thanks a lot for so fast fix :) working right now.

[2017-11-21 21:29] lubo08 opened #482 "Web with Node development"
It is possible setup parallel node preset with web preset for parallel development both node and static web? If yes and you advice or provide some example I will appreciate it. :)

[2017-11-21 21:34] eliperelman commented on #482
@lubo08 this is upcoming in Neutrino v8! With the fork middleware, you'll be able to launch different middleware in a single repo. If you want to learn more about it, here is the current README for the fork middleware:

https://github.com/mozilla-neutrino/neutrino-dev/tree/master/packages/fork

[2017-11-21 21:37] lubo08 commented on #482
Thanks, perfect.  v8 :+1:

[2017-11-21 21:37] #482 closed

[2017-11-21 21:38] #471 closed

[2017-11-23 16:50] helfi92 commented on #271
@eliperelman Would the following be the right approach:

*  Add `packages/*/README.md` to the root's `.gitignore` file
*  Run a script when running yarn docs scripts that read all instances of README.md in `docs` and copies each instance to its appropriate location in `packages/<package-name>/README.md`

Was that the approach you had in mind? I don't mind tackling this.

[2017-11-23 16:51] eliperelman commented on #271
See #373.

[2017-11-23 16:53] edmorley commented on #271
I have the day off tomorrow, I'll try to continue the gitbook work then.

[2017-11-24 18:49] jefo opened #490 "yarn add @neutrinojs/node does not work"
[code]

[2017-11-24 21:59] eliperelman commented on #490
I think you must have been looking through the docs on the master branch on here which refers to the packages for our upcoming visit release. The current version is at https://neutrino.js.org currently at v7, and you want neutrino-preset-react. Thanks!

[2017-11-24 21:59] #490 closed

[2017-11-28 14:28] #473 closed

[2017-11-28 15:29] eliperelman commented on #466
I'd have a look through the landed PRs, and specifically the ones tagged breaking changes.

[2017-11-28 16:47] eliperelman commented on #433
Closing for now since we already use cacheDirectory with babel.

[2017-11-28 16:47] #433 closed

[2017-11-28 19:01] #387 closed

[2017-11-28 19:06] #342 closed

[2017-11-29 21:25] #367 closed

[2017-11-30 17:59] eliperelman commented on #442
Completed with #484.

[2017-11-30 17:59] #442 closed

[2017-11-30 19:17] eliperelman commented on #383
Fixed emitting, evaluated settings in #493.

[2017-11-30 19:17] #470 closed

[2017-12-01 10:14] zeropaper opened #502 "clean middleware options are not passed to the webpack plugin"
What version of Neutrino are you using?
7.3.3

Are you trying to use any presets? If so, which ones, and what versions?
neutrino-preset-react (but I believe the problem lies in the neutrino-preset-web)

Are you using the Yarn client or the npm client? What version?
npm 5.5.1

What version of Node.js are you using?
8.3.0

What operating system are you using?
Kubuntu

I was struggling a bit to tweak

[2017-12-01 15:20] timkelty opened #503 "style-loader: allChunks: true for ExtractTextPlugin?"
I'm wondering if we should be setting `allChunks: true` for `ExtractTextPlugin` in `style-loader`: https://github.com/webpack-contrib/extract-text-webpack-plugin#options

Does anybody have experience with this option? Reading the description, I'm still not 💯  I grasp if and when to use it, but it does mention combined use with `CommonsChunkPlugin`:

Any ideas @mozilla-neutrino/core-contributors?

[2017-12-01 16:14] eliperelman commented on #503
From reading the description it *seems* like we should be setting it to `true` when using with extract.

[2017-12-01 16:15] timkelty commented on #503
@eliperelman that was my impression as well.

[2017-12-01 16:18] #472 closed

[2017-12-01 16:20] #440 closed

[2017-12-01 16:36] eliperelman commented on #466
@helfi92 I think we are close to shipping, so we can move forward with this now.

[2017-12-01 16:36] helfi92 commented on #466
I'm on it 💪

[2017-12-01 17:18] eliperelman commented on #382
In trying to implement this, I think we are kinda stuck. The changes we made to the API to load middleware outside the `call()` can't be caught and distinguished from other middleware calls to add eslint configuration. Essentially, this means we don't really know if the user is using custom middleware outside of `.neutrinorc.js` that matters.

I think we are going to have to relegate this to docum

[2017-12-01 20:06] timkelty opened #507 "Optimize css in production"
Probably using https://github.com/NMFR/optimize-css-assets-webpack-plugin, or https://github.com/sandark7/csso-loader

[2017-12-01 20:13] timkelty commented on #507
Like we've done with minify and imagemin middlewares, I'm assuming this would best be served as its own preset, that would get applied in production from parent presets (web, etc)

It will also need to be easily disabled, as users may likely already be minifying through an existing css pipeline (postcss + cssnano, e.g.)

[2017-12-01 21:20] #503 closed

[2017-12-01 21:23] eliperelman commented on #507
Maybe we should change the minify middleware to do all this, but have options to control what to minify:

[code]

Thoughts?

[2017-12-01 22:21] #466 closed

[2017-12-01 22:52] timkelty commented on #507
Yeah, I considered that as well…it seems tempting, but ultimately I'm not sure if there is much benefit? (one more thing to manage and pass options through)

At the very least - the current state it is a bit confusing to a newcomer in the naming. `minify` at this point really just mean minifying js. `imagemin` is specific, but also references the particular package doing the optimization.

[2017-12-01 23:02] timkelty commented on #507
Or combine the ideas, and have `@neutrino/minify` be an aggregate of
`@neutrino/minify-js`
`@neutrino/minify-img`
`@neutrino/minify-styles`

But again - that makes me think there isn't much benefit.

[2017-12-01 23:42] eliperelman commented on #507
I like that idea. What I also want to avoid is naming things according to file extension. Using `minify-js` isn't completely logical when using Vue, or may be confusing when you are using JSX. You want to minify those still.

So this seems logical to me:

`@neutrinojs/babel-minify`
`@neutrinojs/image-minify`
`@neutrinojs/style-minify`

And then `@neutrinojs/minify` could be the composition of said

[2017-12-01 23:43] eliperelman commented on #507
I plan on shipping v8 next week, so let me know if you think we can get this in time or told add it as a feature afterwards.

[2017-12-02 01:11] eliperelman commented on #380
I found an issue here trying to debug this. Calling this:

[code]

The purpose of this was just to get the count of errors to determine whether to reject. Turns out it actually does an in-place mutation of `report.results` to only have the errors. If you move the `formatter` call to before the `getErrorResults` call, you get the warnings!

I'll push some fixes shortly.

[2017-12-02 07:52] zeropaper commented on #502
Ok! I thought, afterwards, that I should have checked the v7 branch.
I will give it a try (and ask for guidance if needed).

On Fri, Dec 1, 2017 at 3:19 PM, Eli Perelman <notifications@github.com>
wrote:

--
¦ Valentin Vago
¦ valentin.vago@gmail.com
¦ http://irata.graphics

[2017-12-02 14:53] #326 closed

[2017-12-02 14:54] #380 closed

[2017-12-02 21:34] timkelty commented on #507
@eliperelman I'll see if I can get to it this weekend.

[2017-12-02 23:06] collinklippel commented on #357
Hey guys! Do you know if this is still open to work on? Thanks!

[2017-12-03 03:42] gerherz opened #512 "Scaffolding doesn't find the create-project package"
When running ```yarn create @neutrinojs/project <directory-name>```, I get the following output:

[2017-12-03 05:32] DylanPiercey opened #513 "Multi compiler setup."
Is it possible to use webpacks [multi compiler](https://webpack.js.org/api/compiler/#multicompiler) configuration using neutrino?

Specifically I want to setup neutrino to build an isomorphic project where it is bundling both a server side and a browser side. Much of the config is the same but with some differences. This feature is also handy for stuff like bundling tests with webpack at the same

[2017-12-03 06:04] eliperelman commented on #512
The create-project stuff in master is a part of v8. You'll find the current release in the `release/v7` branch. Don't worry though, this will be released in the next few days!

[2017-12-03 06:04] #512 closed

[2017-12-03 06:08] eliperelman commented on #513
Hey @DylanPiercey! This will be possible with our v8 release coming up in the next few days. This will utilize the upcoming `fork` middleware:

https://github.com/mozilla-neutrino/neutrino-dev/tree/master/packages/fork

This will let you drop a `.neutrinorc.js` file in your project similar to the following and build node (isomorphic) at the same time as the react code in a single project:

[code]

[2017-12-03 06:08] #513 closed

[2017-12-03 06:09] DylanPiercey commented on #513
Thats awesome! Looking forward to the release.

[2017-12-03 06:32] eliperelman commented on #357
@collinklippel Sure is, thank you! I'll try and post my thoughts on how this would probably work:

First, you'll need a CLI option to decide to show the dashboard, for now let's pretend it's `--dashboard`. All of Neutrino's CLI interface is defined in https://github.com/mozilla-neutrino/neutrino-dev/tree/master/packages/neutrino/bin, and I figure this flag is only useful when using the `start` com

[2017-12-03 06:59] eliperelman opened #515 "Allow disabling clean middleware from consumed presets"
This is currently being done in the web preset in #502, but we should also allow disabling from other presets that use it, such as node, and possibly the react-components and library presets.

[2017-12-03 07:13] eliperelman opened #516 "Extend neutrino options with project package.json"
There are some places where we access the package.json in the cwd. We should add this as an option, something like `neutrino.options.package` or `neutrino.options.packageJson`. I'm open to names.

Then we can utilize this in the presets that use this.

[2017-12-03 15:30] helfi92 opened #517 "package.json is getting messy"
The `package.json` is starting to have a lot of scripts. It presently has the following scripts:

[code]

We can remove this mess by using something like [nps](https://github.com/kentcdodds/nps) where it would allow us to move our scripts to a `package-scripts.js` file. Also, because it is a javascript file, you can start doing a lot more with your project scripts.

[2017-12-03 15:34] helfi92 commented on #517
If we have an agreement on this, I can open a PR soon :)

[2017-12-03 15:45] jefo opened #518 "neutrino-preset-jest says "no tests found""
I have two test files, but preset says "No tests found". In same time karma preset works well if i replace jest in `--use`.
Windows 10, Node 8.9.0
[code]

[2017-12-03 16:48] gerherz commented on #357
@collinklippel I've been working on this yesterday and created a PR.

[2017-12-03 16:48] eliperelman commented on #517
I like the idea  but I have contention with:

Neither of these are good ideas. If we can find a way to either keep the bins in scope, or use relative paths within this file, I'd consider it.

[2017-12-03 19:40] ahulab commented on #389
Hey I'd like to jump in and tackle as a first contribution if that's cool
- neutrino-preset-jest: the jest API has verbose and debug options that could be enabled (docs)

[2017-12-03 19:45] helfi92 commented on #389
@ahulab Go for it :)

[2017-12-03 19:59] edmorley commented on #517
There definitely are quite a lot of script entries, however I'm not really sure that's a problem? What I'm less keen on however, is the duplication between the various eslint entries. If there was a way to reduce that (perhaps by using an eslint test runner script), then that would seem to be a win.

[2017-12-04 00:50] eliperelman opened #521 "Allow users to specify a custom template or middleware during create-project"
When asked questions like type of project or type of linting middleware, it would be neat if we allowed users to input their own value if they didn't like the choices, for example, if during adding a test runner they had their own AVA preset, or if their team used their own linting rules. Granted, there are some edge cases to work out.

- [ ] If a user specifies their own middleware, how should cr

[2017-12-04 00:50] eliperelman commented on #518
Sorry about your issue. I don't currently have a Windows machine, but I will see if I can get someone with Windows to replicate tomorrow. Thanks!

[2017-12-04 12:08] edmorley commented on #383
Reopening, since I think at least `impliedStrict` is unnecessary.

[2017-12-04 12:28] edmorley commented on #382
The biggest problem here IMO was when people use "alternative A" from the OP. Unlike "B", this can be detected via the API, and prevented (or warned about) rather than being docs-only, should we wish :-)

ie:

@eliperelman, do any of those sound appealing?

[2017-12-04 12:29] edmorley commented on #382
(Happy to close again if we think the docs addition is fine, but reopened so this doesn't get lost)

[2017-12-04 12:39] edmorley commented on #380
Oh good spot!
(I'm commenting on the right tab this time!)

[2017-12-04 12:42] timkelty opened #525 "Split/Refactor minify (minify,*-minify)"
From here: https://github.com/mozilla-neutrino/neutrino-dev/issues/507

Packages will be:

`@neutrinojs/babel-minify`
`@neutrinojs/image-minify`
`@neutrinojs/style-minify`

and @neutrinojs/minify could be the composition of said packages.

[2017-12-04 12:43] timkelty commented on #507
I might focus on splitting them up: https://github.com/mozilla-neutrino/neutrino-dev/issues/525 and hold off on the css bit, as that could be added later.

[2017-12-04 12:45] timkelty commented on #525
@eliperelman do you prefer `*-minify` or `minify-*` for the package names?

[2017-12-04 13:06] eliperelman opened #527 "Add comments to usages of `NEUTRINO_MODULES` to explain its purpose"
There are places where we add `MODULES` and `NEUTRINO_MODULES` in a few packages, and this is so webpack can resolve the packages that belong to each middleware, which may be in `packages/*/node_modules` or may be in the root `node_modules` thanks to yarn hoisting. Now that we have added the root `node_modules`, thanks to yarn workspaces and lerna hoisiting, we should add comments to usages of `NE

[2017-12-04 13:09] eliperelman commented on #382
Ohhhhhhh, now I see! 👀

This is my preference:

Let's do both!

[2017-12-04 13:12] eliperelman commented on #525
`*-minify`, since `babel-minify` has already set a precedent.

[2017-12-04 13:17] eliperelman commented on #527
Closing for https://github.com/mozilla-neutrino/neutrino-dev/pull/488#issuecomment-348957840.

[2017-12-04 13:17] #527 closed

[2017-12-04 15:31] #515 closed

[2017-12-05 07:23] zeropaper commented on #502
Looks to me like it's fixed, I'll close the issue.

[2017-12-05 07:23] #502 closed

[2017-12-05 07:35] eliperelman commented on #502
Thanks again! I have released this in v7.4.0.

[2017-12-05 13:11] eliperelman opened #538 "Update docs/SUMMARY to account for structure changes of docs with new middleware"
We have moved around the docs structure a few times recently with the addition of new middleware. We need to ensure that all the packages are accounted for in `docs/packages`, and that these are reflected in the `SUMMARY.md` file.

[2017-12-05 13:13] eliperelman opened #539 "Update all peerDependencies to v8.0.0"
In preparation for the v8 release, all peerDependencies need to be updated to v8.0.0 of `neutrino`.

[2017-12-05 13:14] eliperelman opened #540 "Deprecate non-scoped packages"
When it's time to release v8, we need to deprecated the non-scoped packages that peer-depend on `neutrino`.

[2017-12-05 14:39] eliperelman opened #542 "Migrate away from using babel configuration envs to conditional merging using `when`"
Right now there are places in some middleware where the babel configuration is done via the `env` property:

[code]

This often means we are duplicating some plugins/presets, and is harder to re-merge from other middleware in a certain order. This also occurs at a lower precedence than the standard babel options, and is usually not what we want. Since we already know the environment up front, we c

[2017-12-05 17:17] eliperelman commented on #516
Fixed with #534.

[2017-12-05 17:17] #516 closed

[2017-12-05 22:50] eliperelman commented on #306
We are considering bringing this into core again. If you are interested in working on this, please let me know and I can point out a few resources for inspiration.

[2017-12-05 23:50] #539 closed

[2017-12-06 04:40] helfi92 commented on #306
@eliperelman I can look into that. Let me know how I can help :)

[2017-12-06 13:02] eliperelman commented on #306
@helfi92 here's a few resources to help you get started:

- Look into the [web-ext tool](https://github.com/mozilla/web-ext). We may only need this tool for the run/start portion of it, since webpack should be able to handle the rest. Maybe we can use [webpack-webext-plugin](https://github.com/rpl/webpack-webext-plugin), maybe not.
- Check out some [webextension examples](https://github.com/mdn/we

[2017-12-06 15:09] #507 closed

[2017-12-06 15:47] timkelty opened #552 "Consolidate middleware format examples in docs"
Most middlewares have duplicate examples for the various middleware formats (fn, array).

It would be nice to decide on one (probably array) for our examples, and then include a link to the page in the docs describing alternate formats.

[2017-12-06 16:01] eliperelman opened #553 "Remove support for Node.js v7 during development"
Looks like latest yarn doesn't support Node.js v7, so we should exclude running tests against it.

[2017-12-06 16:26] #542 closed

[2017-12-06 16:38] eliperelman opened #554 "Running `neutrino start` in Vue project generated by create-project logs error"
I ran create-project with Vue, and received the following error when running `neutrino start`:

[code]

[2017-12-06 21:21] eliperelman opened #556 "Build a Neutrino-backed version of create-react-app"
This is mostly for proof-of-concept, but there may be some actual value here. Essentially, I want to prove out whether we can build a 1:1 feature-complete version of Create React App that is not backed by react-scripts, but rather, Neutrino, so a CRA user could customize their configuration through `.neutrinorcjs` instead of ejecting. Basically, ejecting will not be possible or necessary.

The sca

[2017-12-07 12:47] #554 closed

[2017-12-07 13:27] eliperelman opened #558 "Update web docs with plugins and loaders of CSS modules"
Now that the web preset supports CSS modules from the style middleware, we need to update the tables of plugins and loaders to reflect this.

[2017-12-07 15:26] eliperelman commented on #525
Fixed in #545.

[2017-12-07 15:26] #525 closed

[2017-12-07 15:37] #558 closed

[2017-12-07 15:37] #538 closed

[2017-12-07 16:37] eliperelman opened #565 "Update migration guide again to reflect breaking changes in minify middleware"

[2017-12-07 21:40] #553 closed

[2017-12-07 23:53] eirikurn opened #568 "Can't merge plain values in Neutrino options"
- What version of Neutrino are you using? ^6.1.5
- Are you trying to use any presets? If so, which ones, and what versions? neutrino-preset-react@^6.1.5
- Are you using the Yarn client or the npm client? What version? yarn@1.3.2
- What version of Node.js are you using? 8.7.0
- What operating system are you using? MacOS 10.13.1
- What did you do?

Created a custom neutrino option (passed in through

[2017-12-08 02:03] eliperelman commented on #568
@eirikurn could it be that you are trying to merge properties where the original value was an object, but you are passing a string?

[2017-12-08 02:06] eliperelman commented on #568
Hmm, actually I don't replicate with these cases:

[code]

Could you show a particular case where this happens so I can see if it's a Neutrino thing?

[2017-12-08 02:28] #565 closed

[2017-12-08 02:29] eliperelman commented on #306
Being worked on in #567.

[2017-12-08 11:21] eirikurn commented on #568
Right. The proper case is this:

[code]

This is the affected line: https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/neutrino/src/api.js#L97

So, it's an issue when merging options with string, number and boolean values. A workaround is to nest custom options in a namespace:

[code]

[2017-12-08 13:10] eliperelman commented on #568
Oooooooo good catch! I'll get a patch going.

[2017-12-08 13:51] #568 closed

[2017-12-08 14:51] eirikurn commented on #568
Wow! Amazing turnaround. Thank you thank you thank you!

[2017-12-08 14:55] edmorley commented on #568
Thank **you** for reporting! 😄

[2017-12-08 15:14] eliperelman commented on #540
Done!

[2017-12-08 15:14] #540 closed

[2017-12-08 17:21] eirikurn commented on #556
We're far along with this in Tux, though we're tackling middleware-based SSR at the same time, which of course makes everything much more complicated. But is another interesting discussion for Neutrino.

Still, I've experience blending together Neutrino configurability with CRA dev experience. I'll try to extract some learnings about the walls we hit.

[2017-12-08 17:23] eliperelman opened #575 "Using create-project with yarn doesn't actually use yarn for installation"
Culprit is:

https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/create-project/commands/init/utils.js#L94

Due to:

https://github.com/yarnpkg/yarn/blob/master/src/cli/commands/create.js#L18-L32

[2017-12-08 17:24] eirikurn opened #576 "Regression: Can't set hot option to false in react preset"
It runs [this path](https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/react/index.js#L35):

[code]

Which triggers a `TypeError: Cannot read property 'Symbol(Symbol.iterator)' of null`. That null should be `[]`.

[2017-12-08 17:27] eliperelman commented on #576
Good catch!

[2017-12-08 17:41] helfi92 commented on #575
An alternative would be to go with:

[code]

[2017-12-08 17:43] #576 closed

[2017-12-08 17:49] eliperelman commented on #576
Released in v8.0.1.

[2017-12-08 17:50] eliperelman commented on #575
We could, but that doesn't answer whether it was actually used for this command or not. Unfortunately, I haven't found a way to determine that yet, since this is a spawned process and we need information about the parent process.

[2017-12-08 17:58] wlach opened #578 "Error generating source map with react-components preset"
Creating this simple react component:

package.json:
[code]
src/components/test-component.jsx:
[code]

I get this error when I run `yarn build`:

[code]

[2017-12-08 17:58] eliperelman commented on #578
I can replicate this.

[2017-12-08 17:59] eliperelman commented on #578
Adding source-map-support doesn't seem to fix this either.

[2017-12-08 17:59] eliperelman commented on #578
Here's the output of `--inspect` in my replication:

[code]

[2017-12-08 18:00] eliperelman commented on #578
Possibly relevant webpack issue, but it appears to be resolved, and I seem to have the correct version with these fixes installed:

https://github.com/webpack/webpack/issues/5931

[2017-12-08 18:12] eliperelman commented on #578
Issue is here: https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68

I can confirm that reverting to v0.0.0 of this plugin makes the issue go away.

[2017-12-08 18:12] eliperelman commented on #578
Preparing hotfix.

[2017-12-08 19:03] eliperelman commented on #575
I have filed https://github.com/yarnpkg/yarn/issues/5063 on the yarn side.

[2017-12-08 22:37] eliperelman commented on #578
This should now be fixed in master. Unfortunately I made a little bit of a mess in master trying to make it happen, so I apologize for that.

The good news is that source maps should now at least be functional again across all middleware.

❤️ everyone, thanks for the patience.

[2017-12-08 22:37] #578 closed

[2017-12-08 22:39] eliperelman commented on #556
@eirikurn that sounds great, we would appreciate any feedback you have, and would welcome you to collaborate on it if you're interested.

[2017-12-10 07:49] hashtd opened #588 "@neutrinojs/fork error while running: WebpackOptionsValidationError: Invalid configuration object"
getting following error when using `@neutrinojs/fork` (8.0.9) for react & node

[code]
.neutrinorc.js
[code]
on ubuntu 17.10, nodejs v8.9.3, npm 5.6.0, neutrinojs 8.0.9

[2017-12-10 16:01] hashtd commented on #588
after inspecting found that in `base.js` getting error middleware.forEach is not function
`config` at `start.js` is coming empty

now after making following changes its now working

[code]

[2017-12-10 16:11] eliperelman commented on #588
Thanks for the issue! Sorry about this, I have a patch in flight that will fix this, and I will get that published as soon as the tests pass.

[2017-12-10 16:20] eliperelman commented on #575
As a workaround, we could also just ask the user what the want to use as the last question:

[code]

[2017-12-10 16:23] #588 closed

[2017-12-10 16:25] eliperelman commented on #588
This is now released in v8.0.10. Give it a shot!

[2017-12-10 17:31] helfi92 commented on #575
When installing the project, is there a reason why someone would want to use npm rather than yarn if yarn is installed on their machine? If they want to do stuff using `npm`, they could do that after the project is installed.

See how create-react-app handles the situation: https://github.com/facebookincubator/create-react-app/blob/aad5987a0317508562138a8454bb83dd22b8b18f/bootstrap.js#L8-L15

I'm

[2017-12-10 17:34] eliperelman commented on #575
Ok, since we have precedent with CRA, I guess users could come to expect that behavior. I think that solution sounds fine for now.

[2017-12-10 17:48] helfi92 commented on #575
Sounds good. I'll open a PR today. Are you still ok with https://github.com/mozilla-neutrino/neutrino-dev/issues/575#issuecomment-350325203? Cleaner than the way CRA handles it.

[2017-12-11 09:26] jackysee opened #591 "New vue project following the installation guide fail to start"
Following exactly the installation guide ( https://neutrino.js.org/packages/vue/ ) to create a bare bone vue project, after `neutrino start` and open chrome it throws:

[code]

On Node 8.6.0 / yarn 1.1.0

[2017-12-11 15:40] timkelty opened #594 "options.mains does not resolve relative to src when using fn format of .neutrinorc"
e.g.
[code]

[2017-12-11 15:48] timkelty commented on #594
This can be avoided by using the object format and specifying `options`, which is probably smarter anyway.

If this is expected, there should probably be some sort of warning in the docs.

[2017-12-12 02:20] #575 closed

[2017-12-12 03:17] eliperelman commented on #591
Thanks for the report! Sorry about that, I have issued a fix in #599, which was released in v8.0.11. Please reopen if this does not resolve your issue. Thanks!

[2017-12-12 03:17] #591 closed

[2017-12-12 04:18] jackysee commented on #591
Thanks. I also tried the `yarn create @neutrinojs/project` approach, but it's another problem. I will create another issue.

[2017-12-12 04:23] jackysee opened #600 "Create project with Vue + StandardJS rules, module build failed"
run `yarn create @neutrinojs/project vueapp2` with these answers

- A web or Node.js application
- Vue
- Karma
- StandardJS rules

The module build is failed when starting the app.
[code]

It will be passed if I comment the `@neutrinojs/standardjs` entry in the `.neutrinorc.js`.

[2017-12-12 13:09] timkelty commented on #594
I didn't know about `neutrino.mergeOptions` 👏 . That's perfect.

Perhaps we should throw an error or warning if you try to overwrite `neutrino.options` completely?

[2017-12-12 18:32] timkelty opened #603 "style-loader: make it easier to override test without clobbering modules"
Someone might want to override the `test` option with something like test: `/\.s?css$/`.

Unfortunately, this isn't going to work well with `modules: true`, as we'd have to replicate what we're doing [here](https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/style-loader/index.js#L9-L18) to exclude `modulesTest` from `test`, etc.

@eliperelman any idea the best way to better supp

[2017-12-12 21:06] wlach opened #605 "Links to docs on neutrino.js.org seem busted"
On the main page there's a link to "react components" under "Packages", but it seems to be broken:

<img width="831" alt="screen shot 2017-12-12 at 3 06 02 pm" src="https://user-images.githubusercontent.com/20569/33908434-011f1112-df4e-11e7-9196-8e8fbf4a711f.png">

https://neutrino.js.org/packages/react-components/packages/react-components/packages/react-components/packages/react-components/

Seem

[2017-12-12 21:08] wlach commented on #605
Navigating manually to https://neutrino.js.org/packages/react-components/ works fine tho.

[2017-12-12 21:09] eliperelman commented on #605
Strange, I don't replicate in FF or Chrome:

<img width="428" alt="screen shot 2017-12-12 at 3 09 01 pm" src="https://user-images.githubusercontent.com/285899/33908560-7088cafc-df4e-11e7-9821-4585d32f809c.png">

<img width="304" alt="screen shot 2017-12-12 at 3 09 31 pm" src="https://user-images.githubusercontent.com/285899/33908570-79b61918-df4e-11e7-9b43-4ec1a17a03df.png">

@mozilla-neutrino/cor

[2017-12-12 21:12] helfi92 commented on #605
Works fine for me on FF and Chrome.

[2017-12-12 21:13] eliperelman opened #606 "Add create-project examples to the quickstarts of all presets"
For example, the React docs:

<img width="878" alt="screen shot 2017-12-12 at 3 13 03 pm" src="https://user-images.githubusercontent.com/285899/33908729-f82960a2-df4e-11e7-8979-c23cf0446cde.png">

We should show usage with `create-project` in the docs first, then we could show how to manually set up showing the existing set up.

[2017-12-12 21:19] wlach commented on #605
hmm I can't reproduce now either... ? so strange, will reopen if I see it again

[2017-12-12 21:19] #605 closed

[2017-12-12 21:19] helfi92 commented on #606
Sounds good. I'll do that sometime today.

[2017-12-12 21:20] eliperelman commented on #605
@wlach wow that's weird! Thanks for the report anyway. Maybe it was a bad cache?

[2017-12-12 23:46] armenzg opened #607 "Using create-project with yarn does not work"
I tried running this command `yarn create @neutrinojs/project ci-metrics`.

[code]

[2017-12-12 23:48] armenzg opened #608 "A created project comes with linting issues"
I chose to create a React project with no testing and with the airbnb configuration (created with `npx @neutrinojs/create-project ci-metrics`.
After that I would run `yarn start` and I get linting errors.

[code]

[2017-12-13 12:12] timkelty commented on #96
Sorry to resurrect an oldie…

In debugging / sanity checks, I've too have found myself wanting a dump of the working webpack config - mostly to determine if I'm dealing with a webpack issue or a neutrino one.

@eliperelman I'm sure this is correct, but can you elaborate, or provide an example? Just trying to wrap my head around it. Are you saying an working config output is impossible to generate?

[2017-12-13 13:47] eliperelman commented on #608
Hmm, this is another thing I don't replicate. I wonder if you have some global install of eslint or something that is conflicting with Neutrino. Here is the output of me running the same command:

[code]

[2017-12-13 14:07] armenzg commented on #608
I've probably installed dependencies on my early days by mistake [1].
I've brought it down to [2].
I still get linting issues.
I've also removed my linting file [3]
I've tried from scratch with the same results [4]
Here are the versions of the binaries involved:

[1]

[2]

[3]

[4]

[2017-12-13 14:09] #600 closed

[2017-12-13 14:22] eliperelman commented on #600
This should now be fixed in v8.0.12. Please give it a shot and re-open if you notice this didn't work as expected. Thanks!

[2017-12-13 14:24] eliperelman commented on #594
This would be really hard to catch unless we had a proxy for the `neutrino` object, which would probably be more expensive than necessary.

Totally agree. In projects, we want users to be using object format when possible.

[2017-12-13 14:29] timkelty commented on #594
Perhaps just a note in the docs then, somewhere in here?
 https://neutrino.js.org/middleware/#function-format

[2017-12-13 15:26] timkelty opened #612 "`lint` command, eslint and additional linters"
Looking for advice on the best way to add a linters for additional resource types, (e.g. `stylelint`, `htmllint`).

`@neutrinojs/eslint` registers tasks: `lint` and `eslintrc`.

When factoring in linters for additional resource types, this can get confusing.

Should the `lint` command be renamed to `eslint`?
Or - is there some way to register additional calls to the `lint` command?

Ideally `lint`

[2017-12-13 23:42] edmorley opened #617 "DefinePlugin/ProvidePlugin don't work when using karma preset"
Treeherder currently use `DefinePlugin` and `ProvidePlugin` a fair amount:
https://github.com/mozilla/treeherder/blob/aea1155a58abb774de986b67d8914950aff02d82/neutrino-custom/production.js#L22-L26
https://github.com/mozilla/treeherder/blob/aea1155a58abb774de986b67d8914950aff02d82/neutrino-custom/base.js#L163-L181

However the tests run via the Neutrino karma preset have to manually re-define/impor

[2017-12-13 23:45] eliperelman commented on #617
In the beginning certain plugins caused karma-webpack to not function at all with all sorts of obscure path errors. It was impossible to debug. The situation may have improved now though, so we can try enabling and see what happens.

[2017-12-13 23:49] edmorley commented on #617
Ah once I get Treeherder on Neutrino 8, I'll see what happens without the exclusion. If it still fails I'll add a code comment to the karma preset explaining the reason for it and also a mention in the preset docs :-)

[2017-12-14 15:21] helfi92 opened #619 "Trace warnings in debug mode"
When running in debug mode, we should use the [`trace-warnings`](https://nodejs.org/api/cli.html#cli_trace_warnings) flag to print stack traces for process warnings.

[2017-12-14 17:24] eliperelman commented on #594
Addressed in #614.

[2017-12-14 17:24] #594 closed

[2017-12-14 17:25] eliperelman commented on #607
We added a `--debug` flag to the command now, could you try and it report its output?

[code]

[2017-12-14 17:25] eliperelman commented on #608
We added a `--debug` flag to the command now, could you try and it report its output?

[code]

[2017-12-14 17:26] eliperelman commented on #612
You could re-declare the `lint` command, and call its previous output. We are considering doing this for the WebExtensions linting.

[code]

[2017-12-14 17:32] eliperelman opened #620 "New website + docs redesign for neutrino.js.org"
The gitbook has served us OK for hosting our docs, but it would be really nice to improve the docs and website with a custom design that fits Neutrino's personality. If you would like to work on a new design, help implement a custom gitbook theme, or help in any other way with this, please respond.

[2017-12-14 17:34] timkelty commented on #612
👍  I'll try it!

[2017-12-14 20:53] armenzg commented on #607
Debug did not show anything new than the output above.

I removed yarn from the globally installed packages [1].
I removed node, yarn and heroku from my brew installations [3].
I reinstalled node LTS and yarn via brew (as it is the recommended way).

I still got the same issue [0]

[0]

[1]

[2]

[3]

...

[2017-12-14 21:05] armenzg commented on #607
I removed everything again [1] and started from scratch with nvm [2].

[1]
https://github.com/nodejs/node-v0.x-archive/issues/4058
sudo rm -rf /usr/local/{bin/{node,npm},lib/node_modules/npm,lib/node,share/man/*/node.*}

[2]

[2017-12-14 21:08] armenzg commented on #608
I can't use yarn as per the other issue filed.
Using npx instead.
`npx @neutrinojs/create-project asd --debug`

How can I know that debug flag worked? I don't see anything different.

[2017-12-15 17:07] klahnakoski opened #622 "Problem with "yarn create @neutrinojs/project react-test" on Windows"
I can not seem to create a project:

[code]

here is the yarn-error.log:

[code]

[2017-12-15 17:50] marcioj opened #623 "@neutrinojs/fork doesnt work with middleware callback syntax"
I am trying to implement ssr for react and I have the following configuration:
The node configuration was removed for simplicity.

[code]

Unfortunately the AssetsPlugin doesnt work, the assets.json is not created. In order to check if the configuration was wrong in some way I changed the config to not use the fork middleware, and everything worked fine, the assets.json was created.
My guess is th

[2017-12-15 18:01] eliperelman commented on #622
Your Node.js version and Yarn versions are lower than the supported range, could you update to at least Node 6.10 (preferably 8+) or Yarn 1.2 (or latest), and try it again?

[2017-12-16 00:23] klahnakoski commented on #622
now it works.  Maybe add a version check?

[2017-12-16 00:23] #622 closed

[2017-12-16 16:57] eliperelman opened #625 "Add engines check to all packages"
Right now the documentation lists out the requirements of using Neutrino or middleware:

Now, in the root workspace package.json:

[code]

Good for development, not very helpful for our users. Let's update the docs to reflect our current support, and codify this in every monorepo package.json's `engines`:

Node.js v6 LTS, v8, v9
Yarn v1.2.1+, or npm v5.5 (I think? @helfi92?)

[2017-12-17 15:45] helfi92 commented on #625
I believe it's npm v5.4.0. I will open a pull-request for that.

[2017-12-17 18:27] helfi92 commented on #625
The [first LTS version](https://nodejs.org/en/download/releases/) of v6 (Boron) happens to be 6.9.0. To that end, I think it's safe to downgrade the minimum requirement of node to that version.

[2017-12-18 04:30] jackysee opened #630 "Dynamic import does not work for karma"
Created a very basic app using `@neutrinojs/web` and `@neutrinojs/karma`, there is some code using dyanmic import:

[code]

The code can be run OK on `neutrino web` but not on `neutrino test` using karma.
The karma debug shows that the file path is incorrect:
[code]
So it appears that the code splitting bundle is served on a direct file system path in karma.

demo repo here: https://github.com/jac

[2017-12-18 16:30] okonet opened #632 "neutrino test always exits with 0"
When using Jest preset, even if my test suit fails the exit code is always 0 which causes CI to always pass.

neutrino version 7.2.1+ (also tested on 7.4.0)

It works as expected on v6.2.0

[2017-12-18 16:39] okonet commented on #632
Also the coverage report is gone between v6 and v7

[2017-12-19 00:48] timkelty commented on #612
So I tried your suggestion and it seemed things were getting called recursively (getting Maximum call stack size exceeded).

[2017-12-19 01:02] jackysee commented on #630
Found that it's the karma-webpack plugin problem, filed here: https://github.com/webpack-contrib/karma-webpack/issues/291

For yarn user, you can use selective resolution in `package.json`:

[code]

[2017-12-19 01:02] #630 closed

[2017-12-19 07:25] jackysee opened #634 "Should @neutrinojs/karma empty the default webpack entry point?"
I have instructed `@neutrinojs/karma` to only load `*all_test.js` files

[code]

by using the log config above I can see that the `index` entry is also being compiled, which will be quite time consuming when the index entry grow large.

Currently, I just empty the entry point during test. So karma-webpack only compile necessary bundles:
[code]
Should it be the default config?

[2017-12-19 10:58] okonet commented on #632
Looks like https://github.com/mozilla-neutrino/neutrino-dev/commit/3d7ea848067c7d862693e9f7ea279a98ae95ea0a broke it since Jest `runCLI` returns a promise...

[2017-12-19 14:17] okonet opened #635 "Consider using Jest instead of Ava"
Ava is awesome but I think Jest offers so much more out of the box. Particularly I wanted to write a test for a fix of #632 but this seems not possible without pulling in at least 2 additional dependencies for 1. mocking and stubbing (sinon?) and 2. for hijacking the node `require` in order to mock the Jest APIs. With Jest that would not require any additional dependencies.

Thoughts?

[2017-12-19 14:29] eliperelman commented on #635
I am totally open to using whatever improves our testing situation. I think at the time I used AVA because it was fast, and Jest wasn't really a thing I knew could be used outside React. But yeah, I'm totally open to it.

[2017-12-19 14:41] eliperelman commented on #632
Trying to dig into the Jest changelog, but nowhere did it mention this breaking change. I found the part of the commit that broke this:

https://github.com/facebook/jest/pull/3862/files#diff-281a28872bb5a78b747f7cd3d114a0edR47

Unfortunately the commit message is only "Refactor CLI", and didn't mention at all how the API had changed here, so this was missed. Apologies.

[2017-12-19 15:37] okonet commented on #632
Oh wow! Nothing to apologize. Let's try to cover this with tests to prevent in the future

[2017-12-19 17:20] okonet opened #638 "ES6 won't compile when using Jest preset with v8"
I'm trying to upgrade to v8 from v7 and following the guide. But after I switched to new presets I'm getting lots of these errors:

[code]

No matter what I try I can't get it working again. Looks like the preset doesn't pick the `compile` part from `react` preset.

[2017-12-19 17:57] edmorley opened #639 "Devise and document an official release process"
Now that Neutrino is more popular/has more moving parts, I think it's a good time to revisit our release/development process, changing/automating/documenting as appropriate.

We've already moved to the `release/8` branch system (where most development occurs on `master` rather than a `next` type branch), which is a good first step. However I think we should consider also:
* making releases multi-s

[2017-12-19 18:03] eliperelman commented on #638
Bisecting this:

[code]

[2017-12-19 18:04] eliperelman commented on #638
https://github.com/mozilla-neutrino/neutrino-dev/pull/532

[2017-12-19 18:09] eliperelman commented on #638
This issue seems to be fixed when I change to the old JS names value:

[code]

The current values are derived from:

https://github.com/mozilla-neutrino/neutrino-dev/blob/abdcbeb20098531a74a6d39198e878de29309e8d/packages/jest/src/index.js#L26

[2017-12-19 18:10] eliperelman commented on #638
@helfi92 in order to resolve this, I think we need to just manually build out this value instead of using `regexFromExtensions`.

[2017-12-19 18:10] marcioj commented on #623
I got it working by moving the plugin registration to an external file like:

_neutrinorc.js_
[code]

_client-assets-middleware.js_
[code]

[2017-12-19 18:18] eliperelman commented on #639
cc: @mozilla-neutrino/core-contributors

[2017-12-19 18:33] helfi92 commented on #638
Sounds good. I think this is happening because we are setting a regex as a property to an object. https://github.com/mozilla-neutrino/neutrino-dev/blob/abdcbeb20098531a74a6d39198e878de29309e8d/packages/jest/src/index.js#L61.

PR on the way 🛫

[2017-12-19 18:44] helfi92 commented on #638
@eliperelman https://github.com/mozilla-neutrino/neutrino-dev/pull/640.

[2017-12-20 00:06] eliperelman commented on #290
@bradsimantel this is documented in the [web/react/etc. presets](https://neutrino.js.org/packages/web/#static-assets):

In a nutshell, it says that anything placed in `src/static` gets copied to `build/static`, and you need to use the copy middleware to override. In your use case, you probably want those copied to the build root, so something like this in your `.neutrinorc.js` (if you're using the

[2017-12-20 00:11] eliperelman commented on #623
You are totally right, using anything that isn't referentially serializable across processes would fail to work properly in this scenario. I will add a note about this to the documentation.

Your approach is exactly the one I would recommend to take. For organization purposes, you can also make `.neutrinorc.js` a directory, with the main content being your neutrinorc content in an `index.js` file,

[2017-12-20 00:18] eliperelman commented on #634
According to the README on webpack-karma:

[code]

So it would seem that Karma now does this automatically, or maybe only for the test entry-points?

Thoughts @mozilla-neutrino/core-contributors? I would say this isn't a breaking change, but rather a bug.

[2017-12-20 00:22] eliperelman commented on #632
Just to address the issue title: the `neutrino test` command always exits with a `0` code unless a Promise gets rejected, like with a test runner, in which case it should exit with `1`.

https://github.com/mozilla-neutrino/neutrino-dev/blob/abdcbeb20098531a74a6d39198e878de29309e8d/packages/neutrino/bin/test.js#L10-L14

https://github.com/mozilla-neutrino/neutrino-dev/blob/abdcbeb20098531a74a6d3919

[2017-12-20 01:00] eliperelman commented on #608
I'm not sure if `npx` proxies CLI flags, so you may need to do:

[code]

If it works, you should see the full stdout from the installation of deps, devDeps, and running the one-time lint.

Also, looking at your log, it appears that this does in fact run the lint and it wasn't skipped, as previous postulated in spectrum:

https://spectrum.chat/?t=339e83d6-7c69-4c86-883f-de77e709e802

[2017-12-20 01:02] eliperelman commented on #612
Could you share the code for it so I can try it out?

[2017-12-20 02:04] c835722 commented on #600
Failed for me with v8.0.13 with same exception signature above.
Node, Jest, Standard options on npx @neutrinojs/create-project kata33-neutrinoV8.
yarn build or yarn lint to reproduce.

[2017-12-20 02:10] c835722 commented on #600
@eliperelman can we reopen this issue?

[2017-12-20 02:14] timkelty commented on #612
@eliperelman here's an example: https://github.com/timkelty/neutrino-dev/blob/stylelint-lint-command/packages/stylelint/index.js#L38-L49

[2017-12-20 02:18] jackysee commented on #600
Personal test on 8.0.13 the build error is fixed.
But a linting problem remains, which should be fixable by `yarn lint --fix`.

[2017-12-20 02:35] c835722 commented on #600
Just updating my neutrino project instantiation from the previous comment as the following:

[2017-12-20 14:39] armenzg commented on #608
No changes.

[2017-12-20 16:02] timkelty opened #642 "Possible to extend create-project?"
Mostly what I want to do is include a few additional boilerplate files (`.stylelintrc.js`, `.env`, `.postcssrc.js`, `.browserslistrc`), though Ideally I'd like to make some minor modifications to `.neutrinorc.js` as well.

Is there a decent way to extend @neutrinojs/create-project? Or do you think I should just have a separate generator that I run _after_ I run that?

[2017-12-20 17:39] okonet opened #643 "Coverage report is missing when using Jest and neutrino v7"
When using neutrino v7 with Jest preset, the coverage report is missing reporting:

[code]

It was working in v6

[2017-12-21 12:47] #625 closed

[2017-12-21 13:00] #638 closed

[2017-12-21 13:00] #623 closed

[2017-12-21 13:43] timkelty opened #644 "README hierarchy - Quickstart/installation"
Seems a bit odd to me that "Quickstart" (added by #610) does not precede "Installation" in package docs (eg https://github.com/mozilla-neutrino/neutrino-dev/tree/master/packages/web)

Seems to me a more sensible hierarchy would be:

- Features
- Requirements
- Quickstart
    - create-project
    - Manual Installation
    (including yarn/npm steps that are currently under "Installation"
- Project L

[2017-12-21 20:16] bradsimantel commented on #290
@eliperelman Got it, thanks!

[2017-12-21 22:25] #632 closed

[2017-12-21 22:30] #603 closed

[2017-12-24 12:45] edmorley opened #646 ""Use individual modules" warning when installing @neutrinojs/image-minify"
This may be an upstream issue, but it would be good to chase it down or work around it if possible to avoid users thinking there is something wrong with Neutrino.

[code]

[2017-12-24 13:03] edmorley commented on #646
I've filed kevva/gulp-decompress#12, since that appears to be where the warning needs to be fixed. Though it's kinda depressing how many sub-dependencies are pulled in for imagemin-mozjpeg.

[2017-12-27 18:23] okonet commented on #470
This plugin allowed adding `defer` or `async` attributes to `script` tags that, in turn, allowed controlling the loading of scripts. After the removal it's not possible to do anymore. I don't think it was necessary to remove it after all since it's working as expected when added back.

[2017-12-30 09:05] turboki opened #648 "How to specify localIdentName using @neutrino/style-loader"
I've noticed that the when using style-loader with css modules, if I start with a class name `.container {...}` the generated names end up like `_1sCSwMf6coBA8YISNf8Czs` which makes it almost impossible to debug because the original source name is missing. Is there a way to override the localIdentName prop in css-loader to actually specify how the module named properties should be generated?

[2017-12-30 09:27] eliperelman commented on #648
@turboki yes, you should be able to pass options, depending on whether you are using the middleware directly or via a web-based preset:

[code]

[code]

[2017-12-30 09:37] turboki commented on #648
Oh yes, thats perfect! I totally missed the css and style props when reading the docs...thats what happens when you try and code at 1:30am.

Cheers!!!

[2017-12-30 09:37] #648 closed

[2017-12-30 09:40] eliperelman commented on #648
My pleasure!

[2018-01-01 02:56] chenxsan opened #650 "Duplicated `require('source-map-support').install()`"
I'm developing react component using https://neutrino.js.org/packages/react-components/. In one of my component, I'm including a css file:

[code]
When I run `yarn build`, I will have a `index.[hash].css` file under `build` folder. The content has two `require('source-map-support').install();`:

[code]

Some package info:

[code]

And the `.neutrinorc.js`:

[code]

[2018-01-02 16:13] timkelty opened #651 "Consolidate references to middleware/presets"
The docs make explicit references to "middleware" and "presets" separately, but they are really are capable of doing all the same things.

I've seen newcomers be confused by this. Even among middleware authors I've seen the same used interchangeably.

It seems like it might make sense to consolidate the two concepts for simplicity's sake. Especially now that the package names don't contain them.

[2018-01-02 16:21] timkelty commented on #651
That said - people can _name_ their community packages whatever they please (neutrino-x, neutrino-preset-x, neutrino-middlware-x), but perhaps we should provide some recommendations?

[2018-01-02 16:36] timkelty commented on #651
Perhaps it is just the structure of the docs that needs to change…right now there are:

- Presets
    - Community Presets
- Middleware
    - Community middleware
- Packages
    - … packages that are middleware/presets

Which is a bit confusing because they're _all_ middleware, and there are also _packages_ that aren't listed there (`create-project`) because they aren't middleware.

- Middleware

[2018-01-03 22:48] evliu opened #652 "[Regression Bug]: @neutrinojs/web - if options.port is changed, dev server still on port 5000"
Tested in brand new projects and existing. if I set `--options.port 8080` as a CLI parameter or change `.neutrino.js` config, the web server is at port 8080 but CLI still says dev server running on port 5000. The page will load but this will show in the console:
[code]

any help would be appreciated. worked fine in neutrino v4

[2018-01-03 22:57] evliu commented on #652
Note: also tried configuring `devServer` to all use that port and it didn't work; still seeing WDS try to connect to localhost:5000

[2018-01-04 03:19] timkelty opened #653 "npmsearchlist tags broken in docs"
These pages are supposed to be listing packages, but arent:

https://neutrino.js.org/presets/community-presets.html
https://neutrino.js.org/middleware/community-middleware.html

It appears the `+not:deprecated` bit is killing it: https://github.com/eliperelman/gitbook-plugin-npmsearchlist#usage

https://npms.io/search?q=keywords%3Aneutrino-middleware+not%3Adeprecated

[2018-01-04 19:34] okonet commented on #643
It doesn't work on v8 either.

[2018-01-04 19:39] okonet commented on #643
Coverage report is present when I'm running `jest --coverage` instead of `neutrino test`

[2018-01-04 19:43] okonet commented on #643
Looks similar to https://github.com/facebook/jest/issues/4967

[2018-01-05 16:52] eliperelman commented on #652
I can confirm the issue.

[2018-01-05 17:05] eliperelman commented on #643
Replicating:

[code]

[2018-01-05 17:19] eliperelman commented on #642
See #521.

[2018-01-05 17:29] eliperelman commented on #642
Closing as duplicate.

[2018-01-05 17:29] #642 closed

[2018-01-05 17:30] #652 closed

[2018-01-05 17:31] #653 closed

[2018-01-08 09:35] okonet commented on #643
@eliperelman just tested and https://github.com/mozilla-neutrino/neutrino-dev/pull/659 should fix it

[2018-01-08 13:40] #643 closed

[2018-01-08 13:52] eliperelman commented on #650
@chenxsan could you provide a small repo or gist to replicate with?

[2018-01-08 13:55] eliperelman commented on #650
Also fyi, you shouldn't need to install `babel-eslint` or `standard`. Those come with the presets you have installed.

[2018-01-08 15:52] reflog commented on #556
Was there any progress with this? Really curious to try neutrino and drop CRA...

[2018-01-08 16:22] eliperelman commented on #556
@reflog no, it has not yet been picked up by anyone.

[2018-01-09 03:10] helfi92 commented on #606
Completed in https://github.com/mozilla-neutrino/neutrino-dev/pull/610.

[2018-01-09 03:10] #606 closed

[2018-01-09 08:42] chenxsan commented on #650
@eliperelman Hi, you can check it here https://github.com/chenxsan/duplicated-install

1. `yarn` to install
2. `yarn build` to build the component

Here's what I got:

<img width="813" alt="screen shot 2018-01-09 at 4 40 36 pm" src="https://user-images.githubusercontent.com/1091472/34711875-da5b3d3e-f55b-11e7-82e2-8103d06c5813.png">

[2018-01-09 11:04] lubo08 opened #660 "cannot change server entry"
I would like to change for node js development index.js to server.js but I get error when I rename index.js to server.js

/home/lubo08/workspace/bimp/node_modules/start-server-webpack-plugin/dist/StartServerPlugin.js:81
var existsAt = compilation.assets[name].existsAt;
^

TypeError: Cannot read property 'existsAt' of undefined
at StartServerPlugin.startServer (/home/lubo08/workspace/bimp/node_modu

[2018-01-09 11:12] lubo08 opened #661 "Failed to load plugin react: Cannot find module 'eslint-plugin-react' if use standardjs"
Why standarjs is looking for react just wanated to setup simple express nodejs.

$ yarn start
yarn run v1.3.2
$ neutrino start
× Building project failed
./src/index.js
Module build failed: Error: Failed to load plugin react: Cannot find module 'eslint-plugin-react'
Referenced from:
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.resolve (internal/module.js:18:19)
    at

[2018-01-09 13:13] eliperelman commented on #660
Changing the `mains` option is tricky with Node.js because the start-server middleware creates a server using the **built** file in order to start the server, which in your case the mapping is `server.js` -> `index.js`.

The easiest solution here is just to keep the names the same in options if you want to change the file name:

[code]

[2018-01-09 13:13] #660 closed

[2018-01-09 14:24] #661 closed

[2018-01-09 14:25] #650 closed

[2018-01-09 14:48] lubo08 opened #664 "neutrino lint --fix > TypeError: neutrino.regexFromExtensions is not a function"
note able use this command.

$ neutrino lint --fix
× Running lint failed
TypeError: neutrino.regexFromExtensions is not a function
    at module.exports (C:\Data\SVD_Work\Projects\BI_Monitoring_2\node_modules\@neutrinojs\compile-loader\index.js:6:36)
    at cond (C:\Data\node\node_modules\neutrino\src\api.js:105:28)
    at C:\Data\node\node_modules\neutrino\node_modules\ramda\src\cond.js:42:30

[2018-01-09 15:41] eliperelman commented on #664
Hmm, I don't seem to replicate here. Could you provide a minimal test repo to try this out on?

[2018-01-10 21:34] plumpNation opened #665 "merge.all concatenates eslint arrays"
What version of Neutrino are you using?
`"neutrino": "^8.0.16"`

Are you trying to use any presets? If so, which ones, and what versions?
`"@neutrinojs/standardjs": "^8.0.16"`

Are you using the Yarn client or the npm client? What version?
`yarn --version`
`1.3.2`

What version of Node.js are you using?
`9.3.0`

What operating system are you using?
`OSX 10.13.1 High Sierra`

What did you do?
I tri

[2018-01-11 06:52] hashtd opened #666 "neutrino sass loader not working with fork middleware"
please check repo for full example

https://github.com/hashtd/neutrino_sass_issue

in neutrino version 8.0.10 sass-loader in working fine , but same config giving error in 8.0.16

[code]

but after update to 8.0.16 it is giving issue

[code]

inside style i tried putting inside style ```test: '/\.s?css/'``` but from running inspect, its looking like following (style test regex not working)

[code]

[2018-01-11 13:21] eliperelman commented on #664
cc @lubo08

[2018-01-11 16:40] eliperelman commented on #666
So, I've narrowed this down to being how we serialize data across the fork middleware, as this issue only exists when trying to use it as you are across processes.

The problem is that you are using a string for the `test` parameter, which won't work as you have it defined, since it needs to be a regex to use a pattern. This leads to another problem, where the regex isn't transported across the pr

[2018-01-11 16:43] eliperelman commented on #665
@plumpNation could you provide the code or a sample repo to replicate with?

Regarding overrides, you won't be able to override from a `.eslintrc` file. It's possible to do from a `.eslintrc.js` file, but we strongly encourage you to use the `.neutrinorc.js` file to control all overrides, since that will make it apply cleanly to all the Neutrino commands.

[2018-01-12 13:25] eliperelman opened #669 "Passing a value for devServer.public isn't completely respected"
If you pass a value for the `public` property to the dev-server middleware, the value isn't completely respected correctly:

[code]

`neutrino start --inspect` (Pulled out relevant snippets):

[code]

What it *should* be set to (I think):

[code]

[2018-01-12 13:35] helfi92 commented on #669
If nobody looks at it today, I can send a PR during the weekend.

[2018-01-12 15:57] graingert commented on #316
FYI CRA has already got a pre-release with a `Switch to Babel 7` #3522

[2018-01-12 16:07] constgen opened #670 "`image-minify` plugin breaks json-loader"
Here is a [project sample](https://mega.nz/#!KUMH1IpY!6sfZUI9aNncJ5ScZOrR8yec7G9rd2Cw30BUP6VP2x7c). Steps to reproduce a bug.

1. Install dependencies
2. Run `npm run build`
3. CLI throws an error

[code]

4. Comment `minify` plugin in `.neutrinorc.js`

[code]

5. Run `npm run build`
6. Build is successful. You can check this opening `index.html`

**Expected result:** Build should not fail when mi

[2018-01-13 10:55] zeropaper commented on #664
Actually, it seems that I can replicate that when I want to make a commit (for a PR):
[code]

[2018-01-13 20:38] #666 closed

[2018-01-15 14:52] eliperelman commented on #670
I can replicate using `@neutrinojs/library` but not `@neutrinojs/react`.

[2018-01-17 12:59] kbrah opened #674 "strip-ansi causing problems with ie 11"
I am using neutrino and neutrinojs/react in my project and IE throws syntax error and points to the following code:

/***/ "./node_modules/webpack-dev-server/node_modules/strip-ansi/index.js":
/***/ (function(module, exports, __webpack_require__) {

"use strict";
eval("\nconst ansiRegex = __webpack_require__(\"./node_modules/webpack-dev-server/node_modules/ansi-regex/index.js\");\n\nmodule.exports

[2018-01-17 13:17] edmorley commented on #674
Hi! I think this is webpack/webpack-dev-server#1278.

[2018-01-17 13:17] eliperelman commented on #674
From the Neutrino React docs:

https://neutrino.js.org/packages/react/

So we support the last 2 **major** browser versions. Right now those settings look like:

[code]

If you want to support IE, you'll have to override this list in `options` with your own browser list:

[code]

Give that a shot!

Also, you can inline your style information to the `style` option, so you don't have to explicitly i

[2018-01-17 13:25] eliperelman commented on #674
I'd say @edmorley's answer is more correct in this particular case, but my comment about browser support will be important if you want to compile your code to support IE11.

[2018-01-17 13:31] eliperelman commented on #674
Looks like dev-server is trying to fix this in:

https://github.com/webpack/webpack-dev-server/pull/1273

[2018-01-17 13:35] kbrah commented on #674
@eliperelman Thanks for the tips! Indeed adding ie 11 in target browsers did not fix the issue but good to know!

[2018-01-17 14:08] timkelty commented on #612
I think it would be nice to figure this out for 9.x.

It seems to me that the `lint` command could be renamed to `eslint`, and then provide a way for multiple middlewares to hook into a shared `lint` command?

Thoughts @mozilla-neutrino/core-contributors?

[2018-01-18 15:23] plumpNation commented on #665
[code]

Now in @neutrino/standardjs/index.js the merge.all creates a config object containing

`'babel/object-curly-spacing': [ 'error', 'always', 2, 'never' ]`

[2018-01-19 17:10] edmorley opened #676 "Web preset option to enable sourcemaps in production"
Currently the Neutrino web preset only enables sourcemaps (specifically `cheap-module-eval-source-map`) in development:
https://github.com/mozilla-neutrino/neutrino-dev/blob/e52919b5ebcd694857bb7a5244afe07ca1299fd1/packages/web/index.js#L187

I imagine some people wouldn't want sourcemaps in production (eg non-open-source), however perhaps it would be worth having an option to enable for those who

[2018-01-20 01:06] edmorley opened #677 "Add `extract` pref to web preset docs"
I think it would be good to mention the `style: { extract: true/false }` setting on:
https://neutrino.js.org/packages/web/#preset-options

[2018-01-20 01:53] edmorley opened #678 "CSS minification in Neutrino 8 increases build duration by 3-4x"
After updating to Neutrino 8, I'm seeing 10m30s build times, which are reduced down to 2m55s if I disable CSS minification like so:
[code]

Is this kind of increase expected? It was pretty surprising to me, and makes me wonder if CSS minification should actually be changed to be opt-in rather than opt-out?

With CSS minification enabled:
[code]

With it disabled:
[code]

[2018-01-20 16:44] jaridmargolin commented on #678
@edmorley I was seeing similar issues with build times (even prior to v8). I switched from Babili, which is what is set by default in Neutrino, to Uglify, and saw a substantial decrease in build times.

[2018-01-21 01:05] edmorley commented on #678
JS minification is also a significant proportion of the build above (with that turned off the build drops from 2m55s to ~20s), albeit not related to the issue here. In another issues it would be good to:
* compare babel-minify with uglifyjs2 - now that the latter supports ES6 (via uglify-es), which was the blocker previously
* experiment with adjusting the babel-minify/uglifyjs2 settings to see if

[2018-01-21 06:24] jaridmargolin commented on #678
@edmorley I have no idea how I missed reference to CSS, which is referenced both in the title and three times in the description 😂

I'll open an additional issue.

[2018-01-23 00:49] edmorley opened #681 "@neutrinojs/html-loader invalid `name` option"
As far as I can tell `html-loader` doesn't support a `name` option (unlike some of the other loaders), so I think it can/should be removed:
https://github.com/mozilla-neutrino/neutrino-dev/blob/f3b8f12846544e9b43257ce03a7c07f91d0aada2/packages/html-loader/index.js#L8

See:
https://webpack.js.org/loaders/html-loader/
https://github.com/webpack-contrib/html-loader/blob/master/index.js

[2018-01-23 03:19] timkelty commented on #678
@edmorley That seems crazy…maybe try disabling some specific `cssnano` optimizations to narrow it down?

[code]

[2018-01-23 21:53] edmorley opened #682 "Allow configuring html-loader via web preset options"
The font, image, style and babel loaders support being passed options via the web preset to configure their behaviour:
https://github.com/mozilla-neutrino/neutrino-dev/blob/v8.0.18/packages/web/index.js#L132-L134

However the html-loader doesn't:
https://github.com/mozilla-neutrino/neutrino-dev/blob/v8.0.18/packages/web/index.js#L104

For context, the option I wish to adjust is [html-loader](https

[2018-01-24 14:52] chenxsan opened #684 "Building project failed when `extract` set to `false`"
I would love to disable `extract` in one of my project, but got this error when I run `yarn build`:

[code]
Here's my code:

[code]
And my `.neutrinorc.js`:

[code]
Also I just setup a git repo [here](https://github.com/chenxsan/test-extract).

[2018-01-27 02:00] edmorley opened #687 "Improve error message when using .tap() on undefined plugin"
**STR:**
1. `yarn add neutrino@8.0.18 @neutrinojs/web@8.0.18`
2. `mkdir src`
3. `touch contribute.json src/index.js`
4. Create a `.neutrinorc.js` containing:
[code]
5. `yarn start`

**Expected:**
Error message that makes the mistake clear. eg:
`Error: Plugin 'copy' is not defined`
(along with a stack trace that points to the correct line in `.neutrinorc.js`)

**Actual:**
webpack-chain gives an err

[2018-01-29 01:23] gormonn commented on #93
What is best way to add `babel-polyfill` in Neutrino v8 ?

[2018-01-29 01:25] gormonn opened #688 "How to add babel-polyfill in Neutrino v8?"
How to add babel-polyfill in Neutrino v8?

[2018-01-29 03:36] nwaywood opened #689 "Custom presets not showing up in list"
I have created two presets and as far as I can tell they satisfy all the [conditions listed](https://neutrino.js.org/presets/community-presets.html) but they are still not showing up in the list.

The presets I have made are:

- [neutrino-preset-flow](https://www.npmjs.com/package/neutrino-preset-flow) and
- [neutrino-preset-emotion](https://www.npmjs.com/package/neutrino-preset-emotion)

Is there

[2018-01-29 12:49] eliperelman commented on #689
Hmm, that is odd. When I look up the same query on npms.io, I see 63 results:

https://npms.io/search?q=keywords:neutrino-preset%20not:deprecated

It's interesting that the list on the docs is limited to 25. I'll look into it.

[2018-01-29 12:51] eliperelman commented on #689
Looks like npms now has a `size` parameter, which defaults to 25:

https://api-docs.npms.io/. I'll revise to the max and see what happens.

[2018-01-29 12:57] eliperelman commented on #688
Hello! You can use babel-polyfill as any other application-level dependency. Simply install it via npm or yarn, and import it, typically before any code that may depend on it, usually as the first import in your main file:

[code]

[2018-01-29 13:07] eliperelman commented on #687
I could definitely see how this would be an issue. Technically this issue can arise from not using `tap` at all:

[code]

This is due to the way the `.plugin` method works:

https://github.com/mozilla-neutrino/webpack-chain/blob/2445476d0d7f444c34060f383c890597ca0d2e8d/src/Config.js#L51-L57

Using these methods creates an entry with that name, and then expects it to be defined. Obviously in the ca

[2018-01-29 13:09] eliperelman commented on #688
As the above response should answer your question, I am going to close this issue. If for some reason my answer doesn't resolve this, please feel free to re-open. Thanks!

[2018-01-29 13:09] #688 closed

[2018-01-29 13:12] edmorley commented on #687
Yeah I agree this is not expected to work - it's the clearer error message that this issue is about :-)

[2018-01-29 13:18] eliperelman commented on #684
To debug, here is a diff of the `--inspect` when running with `extract` as default vs. `extract: false`:

[code]

[2018-01-29 13:20] eliperelman commented on #684
A couple things I notice:

1. CSS hot only works when extract is enabled. Not sure this is correct.
2. Style loader comes after css loader. From what I recall this was the other way around.

[2018-01-29 13:30] eliperelman commented on #684
Ah, found the issue!

When we make a first pass at loading the style middleware through the `react-components` middleware, all the extract options are true, so the associated plugins for extraction are enabled. When you add the `style-loader` middleware again, all the original plugins for style loading are overridden, but the extraction ones are not, because they are skipped!

The easiest solution

[2018-01-29 16:28] eliperelman commented on #684
Closing with the previous comment as the solution. Please feel free to re-open if the solution does not work as intended. Thanks!

[2018-01-29 16:28] #684 closed

[2018-01-29 16:28] #689 closed

[2018-01-29 16:51] eliperelman opened #693 "Move to @neutrinojs org"
This will be slated for v9.

[2018-01-29 19:05] #665 closed

[2018-01-29 23:06] nwaywood opened #695 "Runtime error on neutrino.js.org displaying preset list"
Thanks for fixing https://github.com/mozilla-neutrino/neutrino-dev/issues/689

It looks like the community middleware list is correctly displaying are entries now. But the [community preset](https://neutrino.js.org/presets/community-presets.html) list display nothing with the following error in the console

![image](https://user-images.githubusercontent.com/3773641/35539316-2b7329b2-05a5-11e8-9d5b

[2018-01-29 23:26] #695 closed

[2018-01-29 23:27] eliperelman commented on #695
Sorry about that, everything should now be good!

[2018-01-30 11:28] jamiedust opened #698 "Stylelint preset does not work with stylelint-config-standard"
When using the stylelint preset (thanks for that by the way!) linting fails when using the latest stylelint-config-standard (a popular preset), because it includes an unrecognised rule.

`Error: Undefined rule font-family-no-missing-generic-family-keyword`

This is because the version of `stylelint-webpack-plugin` which is used by the preset is 0.7.0, which depends on stylelint v7, this needs to b

[2018-01-30 11:51] jamiedust opened #699 "Stylelint preset is not running"
Thanks for a great project and bringing the stylelint preset into core.

What version of Neutrino are you using?

7.4.0

Are you trying to use any presets? If so, which ones, and what versions?

preset-stylelint 1.1.0

Are you using the Yarn client or the npm client? What version?

Yarn 1.3.2 - npm 5.5.1

What version of Node.js are you using?

8.9.3

What operating system are you using?

Mac OSX

[2018-01-30 12:01] edmorley opened #700 "Remove web preset dependency on @neutrinojs/image-minify"
Since it increases the yarn install time significantly due to the number of compiled packages and yarnpkg/yarn#932. The feature is disabled by default, however this is still a breaking change so would need to wait until Neutrino 9.

See:
https://github.com/mozilla-neutrino/neutrino-dev/pull/673#issuecomment-361320075

[2018-01-30 12:16] timkelty commented on #700
At the same time, lets consider if it is worth it to continue the aggregate `@neutrinojs/minify`, or if they should just exist separately.

[2018-01-30 20:13] timkelty commented on #699
@jamiedust I think you might be using the wrong package…

The core stylelint middlware was only introduced in Neutrino v8: https://github.com/mozilla-neutrino/neutrino-dev/blob/master/CHANGELOG.md#v810

The NPM package is `@neutrinojs/stylelint`, not `neutrino-preset-stylelint`.

[2018-01-30 20:14] timkelty commented on #698
@jamiedust I think you might be using the wrong package…

The core stylelint middlware was only introduced in Neutrino v8: https://github.com/mozilla-neutrino/neutrino-dev/blob/master/CHANGELOG.md#v810

The NPM package is `@neutrinojs/stylelint`, not `neutrino-preset-stylelint`.

[2018-01-30 20:17] timkelty commented on #698
See #699

[2018-01-30 20:17] #698 closed

[2018-01-30 20:19] timkelty commented on #700
Related issues and discussion with "default" minification:
https://github.com/mozilla-neutrino/neutrino-dev/issues/678
https://github.com/mozilla-neutrino/neutrino-dev/pull/673

[2018-01-30 20:50] jamiedust commented on #698
Aah, my mistake apologies for wasting your time.

I had previously used neutrino-middleware-stylelint, so I thought this was the new package. It makes sense now.

[2018-01-30 22:34] jamiedust commented on #699
You are correct, apologies.

[2018-01-30 22:34] #699 closed

[2018-02-01 18:45] eliperelman opened #702 "Stand up verdaccio for stronger create-project testing"
Coming from this [article](https://medium.com/@strapi/testing-your-npm-package-before-releasing-it-using-verdaccio-ngrok-28e2832c850a), we should be able to use verdaccio to test that create-project works more like production, and catch publishing errors before we get to that point, all without linking.

https://github.com/verdaccio/verdaccio

[2018-02-01 20:45] jorgemuza commented on #608
@armenzg I had the same issue...running `yarn lint --fix` before executing `yarn start` seems to work....

[2018-02-02 17:51] eliperelman commented on #239
https://www.nearform.com/blog/introducing-node-clinic-a-performance-toolkit-for-node-js-developers/

[2018-02-06 18:46] andrewjroyce opened #705 "tgen"

[2018-02-06 19:24] eliperelman commented on #705
Closing for lack of information. Please re-open when you have something more here. Thanks!

[2018-02-06 19:24] #705 closed

[2018-02-07 09:56] Nhiokh opened #706 "Typo error in 'Create new project' page link"
Just a little typo error on the Customization part of the ['Create new projet'](https://neutrino.js.org/installation/create-new-project.html#customization) page.

Customization link is missing a backslash at the end of its url. :)

[2018-02-08 11:43] kbrah commented on #674
@eliperelman They seem to have fixed the issue. Do we need some changes in neutrino to use the latest webpack-dev-server?

[2018-02-08 12:22] kbrah commented on #674
nevermind I upgraded my packages and it works now!

[2018-02-08 12:23] #674 closed

[2018-02-09 02:38] sgillespie commented on #518
The issue on windows is that `path.join` uses a backslash as the separator, and the backslash escapes the following `.`. Therefore the regex won't match the path correctly. Here's the bit:

[code]
One possible solution would be to join the two strings with `/` as the separator. I've tested this by overriding the `testRegex` and fixed the issue.

[2018-02-09 12:08] constgen commented on #518
Guys, I have created this PR more then a week ago https://github.com/mozilla-neutrino/neutrino-dev/pull/679. Please merge

[2018-02-09 16:39] MrSaints opened #707 "@neutrinojs/react: watch, and compile"
From my understanding, with `@neutrinojs/react`, you can either `start`, `build` or `test`.

`start` will spin up a development server, while `build` will actually perform the compilation, and copying of `static` files. I am looking for an in-between. That is, I need to watch for changes, and build. The output does not have to be minified. The use-case here is that there are cases where we want to

[2018-02-09 17:55] eliperelman commented on #707
@MrSaints I believe you can do that if you use `start`, but clear out the devServer configuration:

[code]

[2018-02-09 21:14] MrSaints commented on #707
I can confirm that does in fact work 👍

Cheers!

[2018-02-09 21:14] #707 closed

[2018-02-16 15:31] gir opened #708 "Neutrino lint and ESLint return different results"
Hello,

I'm trying to figure out what's going on here and have been stuck. It seems that when running `neutrino lint` vs `eslint` directly, results differ.

I have created a minimal repro [here](https://github.com/gir/neutrino-lint-test). I am unsure if the problem is with the specific usage of Webpack module resolve (perhaps I use it incorrectly?), a neutrino setup oversight, or a bug. I have qui

[2018-02-19 02:48] timkelty opened #713 "Scale back default minification in core presets"
There have been a number of issues since we began including `@neutrinojs/minify` (minimizing babel, styles, images) in core presets: #678, #673, #700

My preference would be to scale back what the core presets do by default, and instead point users to additional middleware they may want to use (image-minify, style-minify).

That said - we probably also need to make sure the minify middleware inclu

[2018-02-21 18:22] divyabaid16 commented on #644
Can I work on this issue ?

[2018-02-21 18:40] eliperelman commented on #644
@divyabaid16 sure thing! Have a look at the [contributing guide](https://neutrino.js.org/contributing/development.html) as well as the [docs layout](https://raw.githubusercontent.com/mozilla-neutrino/neutrino-dev/master/docs/SUMMARY.md).

Feel free to reach out if you have any questions or encounter issues. Thanks!

[2018-02-22 19:33] Shruti9520 commented on #619
Hi,
Can I work on this issue?

[2018-02-23 09:49] divyabaid16 commented on #644
Please review the PR !

[2018-02-25 19:29] constgen commented on #518
Is somebody going to merge fixes? My team have to modify `node_modules` manually to make it work. It is insane.

[2018-02-25 20:38] sgillespie commented on #518
@constgen: You don't actually have to modify `node_modules`, just override `testRegex` in `neutrinorc.js`

[code]

[2018-02-26 12:00] constgen commented on #518
Thanks for advise. But I hope this nightmare will finish soon.

[2018-02-26 18:40] CharlesKumar opened #721 "neutrino js role in webpack 4"
webpack 4 is released (on feb 25 2018) and has zero config out of the box

what is the role of neutino js in automating webpack 4 workflow

other than presets (like presets for react )

[2018-02-26 18:45] eliperelman commented on #721
Our mission and goals do not change with webpack v4. Just because you can start a super-minimal project with zero config doesn't mean that you get the best experience or the least amount of up-front work. This is where Neutrino steps in. We still provide a great story for distributable and composable configurations.

[2018-02-26 18:45] #721 closed

[2018-02-26 20:46] Aditi574 commented on #362
Hi! I would like to work on this.

[2018-02-26 21:06] eliperelman commented on #362
@Aditi574 feel free! As mentioned in my previous comment this would be a documentation change in the `docs` directory as well as the README in the clean package:

[2018-02-26 21:58] wlach opened #722 "react-components preset should compile down to es5 by default"
If we don't do this, the resulting minified js won't be useable by tools like create-react-app (see e.g. mozilla/react-metrics-graphics#18).

Current suggested workaround (could probably be used as a basis of a solution here):

https://github.com/eliperelman/react-fout-stager/blob/67b13f839701438334863f42b8c859595eb3bf6b/.neutrinorc.js#L13

[2018-02-26 22:23] Aditi574 commented on #362
@eliperelman please review my PR #723. Thanks!

[2018-02-27 02:51] sgillespie commented on #518
This has been released in v8.1.2. I don't have a windows setup to check it with, but as far as I can tell it should work fine (still works on linux :))

[2018-02-27 03:45] eliperelman commented on #518
@sgillespie awesome, thank you!

[2018-02-27 11:11] constgen commented on #518
Issue fixed. Checked on Windows.

[2018-02-27 15:06] timkelty opened #726 "Provide tailwind CSS example"
/cc @dwhoban

[2018-02-28 00:01] cultofmetatron opened #728 "how do I link a cdn stylesheet?"
tryign to link to the stylesheets in https://material-ui-next.com/getting-started/installation/

here's my neutrino.js file

[code]

Doesn't work and there's nothing I've found in the docs on how to link to a cdn. Everythign I've found revolves around linking to a module. How do I add the style link to my head?

[2018-02-28 00:33] eliperelman commented on #728
The `html` options for the `react` preset are driven via [html-webpack-template](https://github.com/jaketrent/html-webpack-template), which accepts a `links` array. You should be able to specify it like:

[code]

Give that a shot and let me know!

[2018-02-28 00:41] cultofmetatron commented on #728
haha YES it worked. omg my blind guess was off by a single character 📦
Thanks!

[2018-02-28 00:41] #728 closed

[2018-02-28 00:41] eliperelman commented on #728
Great! Good luck! 👏

[2018-02-28 19:22] apoorvaagupta commented on #706
Hey, can I solve this issue?

[2018-03-01 19:21] ftes commented on #638
This issue still occurs for me with `v8.1.2`:

`SyntaxError: Unexpected token import`

[2018-03-02 15:17] chrisrowe commented on #726
Looking forward to this!

[2018-03-07 14:58] edmorley opened #735 "Consider switching from extract-text-webpack-plugin to mini-css-extract-plugin"
There is a new webpack 4 only plugin for extracting CSS:
https://github.com/webpack-contrib/mini-css-extract-plugin

Once we've updated to webpack 4, it looks like it might be worth switching to it.

[2018-03-07 15:08] eliperelman commented on #735
I think it was in beta, but yeah, if it's usable when we switch, I agree.

[2018-03-07 15:38] armenzg opened #736 "--watch isn't being handled by the mocha preset"
I'm currently using "./node_modules/mocha/bin/mocha ./test/**/*.test.js --watch" instead of "neutrino test ./test/**/*.test.js --watch".

Preset referred:
https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/mocha/src/mocha.js

[2018-03-09 15:19] edmorley commented on #713
Sorry for the delayed reply! Yeah I agree it would be good to scale back the default packages included with `@neutrinojs/web`, and let people include them as needed (I've been contemplating skipping web and using the component pieces individually recently, due to the number of things now included in it that we don't use).

[2018-03-09 15:27] timkelty commented on #713
@edmorley anything besides what is mentioned here (image/style-minify) you might want considered for removal from web?

[2018-03-09 15:46] edmorley commented on #713
It's tricky, because I'm sure some of the things [mozilla/treeherder](https://github.com/mozilla/treeherder) doesn't use, others do - such as:
* `fast-async` (since we only support more modern browsers; though in fact the Neutrino default targets all support async now I think...so maybe this can be removed anyway?)
* `webpack-manifest-plugin`
* the `@neutrinojs/copy` copying to `staticDir`
* `work

[2018-03-09 15:50] timkelty commented on #713
To some degree it matters if you're talking about the requiring dependencies themselves, or whether anything is actually done with them.

For example, a config of `{html: false, manifest: false}` would disable those features, though those packages would still be deps.

[2018-03-09 16:01] edmorley commented on #713
I guess a bit of both. (In part depending on how large the deps are, and whether they contain compiled code that takes longer to build plus triggers the frustrating yarnpkg/yarn#932)

[2018-03-09 16:12] timkelty commented on #713
Yep, I think that's mostly a problem for things like imagemin which has lots of hefty binaries to compile

[2018-03-09 19:16] edmorley commented on #646
This is now fixed in gulp-decompress 2.0.2:
https://github.com/kevva/gulp-decompress/commit/d3fdff17810f757056503b0f81a8c06f3fa9dc60

However all of the image minification related deps are using an old version of [bin-build](https://github.com/kevva/bin-build), which pulls in an old [download](https://github.com/kevva/download), which... (you get the idea).

[2018-03-09 19:19] edmorley commented on #646
Perhaps we should do the rounds of some of the packages Neutrino directly depends on, asking them to activate the [Renovate](http://renovateapp.com/) service on their repo? (And then recursively, once they are up to date)

[2018-03-09 19:36] edmorley opened #737 "Add support for webpack 4"
Webpack 4 has now been released. Whilst their docs have not yet been updated (eg webpack/webpack.js.org#1856 and friends) - it would be good to start looking at what we need to do to support webpack 4 soon.

I propose something like:
1. Review/merge any open non-breaking-change PRs (including those from Renovate)
2. Publish a new Neutrino 8.x release and make sure the `release/v8` branch is update

[2018-03-09 19:49] eliperelman commented on #737
:clap: That sounds like a great plan!

[2018-03-09 19:50] eliperelman commented on #702
@edmorley we should definitely look into this for ensuring our alphas and tests work better before releasing.

[2018-03-10 17:34] edmorley commented on #517
I think there are a few aspects to this:
1. If there are more than N number of script entries, should we move them to another file?
2. Are there any commands we can remove?
3. Can we reduce duplication of the same command/options between script entries? (eg the eslint ones)

Given we don't ship the monorepo root `package.json` to end users I don't think (1) is an issue (and I don't think it's wort

[2018-03-10 17:34] #517 closed

[2018-03-10 17:37] edmorley commented on #305
With webpack 4 (#737) there are more sensible defaults out of the box, and if those defaults are not enough, IMO we should push to fix them upstream instead.

[2018-03-10 17:37] #305 closed

[2018-03-10 17:49] edmorley commented on #736
Hi!

The `--watch` option is recognised by `neutrino test`, which passes it down to whatever registered the `test` command. For the karma preset this is then passed onto the test runner like so:
https://github.com/mozilla-neutrino/neutrino-dev/blob/8b03d8bd21b707f711ea6931f30c8016513e34db/packages/karma/index.js#L55-L60

Would you be up for making a similar change to the mocha preset? :-)
https://

[2018-03-10 17:53] edmorley commented on #722
So IMO libraries like this should provide both an ES6 version (accessible via the `module` property in `package.json`) and an ES5 output.

That said, this really is the territory of rollup (see the vast majority of other libraries that produce multiple variants) - I wonder if it would be a better fit compared to Neutrino/webpack in these cases?

[2018-03-10 18:00] edmorley commented on #664
Has anyone seen this recently?

[2018-03-10 18:06] edmorley commented on #612
@timkelty Do you mean having a command category (`lint`) and type (eg `eslint`) whereby either just the individual type can be run, or the whole category?

[2018-03-10 18:09] edmorley commented on #518
Fixed by #679, released in v8.1.2. Many thanks for everyone's help here :-)

[2018-03-10 18:09] #518 closed

[2018-03-10 22:45] edmorley opened #741 "Remove fast-async from the web preset"
The web preset currently adds [fast-async](https://github.com/MatAtBread/fast-async) to the babel plugins list by default. The plugin provides a faster alternative to [transform-async-to-generator](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-async-to-generator).

However:
* the web preset's [default target browsers](https://github.com/mozilla-neutrino/neutrino-dev/bl

[2018-03-11 10:09] #677 closed

[2018-03-11 10:10] #681 closed

[2018-03-12 15:29] edmorley commented on #328
I guess what I'm really after is an equivalent to create-react-app's "eject" feature.

[2018-03-12 18:17] armenzg commented on #736
I've managed to see this move forward, however, mocha runs once and then it runs once more (upon file changes) with 0 passing tests [1]

Further file changes do not change the output. The script seems to always be watching.

[1]

The mocha code being reached is this:
https://github.com/mochajs/mocha/blob/50aec7a249c7b2a28e2fdc18058829f48e6ee6d6/bin/_mocha#L523-L577

[2018-03-12 18:23] armenzg commented on #736
Here's the neutrino-dev changes:
https://github.com/mozilla-neutrino/neutrino-dev/compare/master...armenzg:watch

The project I'm trying to make watching work for is:
https://github.com/mozilla/firefox-health-backend

The "watch:test" script requires changing "mocha" for "neutrino test"
https://github.com/mozilla/firefox-health-backend/blob/master/package.json#L8

[2018-03-13 12:38] timkelty opened #747 "Provide example for resolving module paths to source dir (FAQ?)"
- https://spectrum.chat/?t=e97230f7-2f18-4a3f-917a-fe3f391a2239
- https://spectrum.chat/?t=ea23e41e-8751-4b15-a7ee-24340763a04a

It seems common that people want to add a module resolving path to their source path.

The easiest way to do this is:

[code]

Or if an alias is preferred:
[code]

[2018-03-14 18:39] edmorley commented on #737
I haven't checked all the deps yet, but one that is definitely not ready yet is:
webpack-contrib/extract-text-webpack-plugin#701
(there is an alpha, but judging by other issues filed in that repo, is still buggy)

[2018-03-14 19:00] edmorley opened #748 "Compare speed/size of babel-minify vs uglify-es"
Currently Neutrino 8 uses babel-minify (formerly babili), in part because uglifyjs previously didn't have ES6 support.

However with webpack 4, [uglify-es](https://github.com/mishoo/UglifyJS2/tree/harmony) is now used (via [uglifyjs-webpack-plugin](https://github.com/webpack-contrib/uglifyjs-webpack-plugin)), which supports ES6 features - plus caching and parallelisation is supported out of the bo

[2018-03-14 19:24] edmorley commented on #748
Meant to say - in addition speed/output size considerations, we should also factor in:
* correctness/known bugs (for example webpack-contrib/babel-minify-webpack-plugin#68)
* whether it's safer to stick to the webpack default, which is a more tested path

[2018-03-15 03:42] markerikson commented on #747
I'm actually trying to do this myself right now, and I can't get this to work:

[code]

As best as I can tell, passing a middleware after the `reactjs` preset simply does not get executed.  If I run with this config, I get Webpack resolution errors saying it can't find an absolute import (like `import MyComponent from "common/MyComponent"`).  If I move the resolve middleware to be _before_ the Rea

[2018-03-15 10:34] YuriiF commented on #747
I'm already write this problem on the spectrum.chat
 I can achieve to resolve 'src' with configuration bellow without any problem:
.neutrionorc.js

[code]
The root 'src' is resolved, and i can use import of my components like this:

[code]
Real issue comming if i try to make working airbnb eslint rules with: 'eslint-plugin-import' package. I can't make it working the way 'elint-plugin-import' will

[2018-03-15 12:49] timkelty commented on #747
@markerikson I think you have some problems with your middleware formatting (if I'm understanding correctly). Can you try it like this:

[code]

[2018-03-15 16:08] markerikson commented on #747
.....

Oh.  Y'know what?  I think I see what you're getting at.  The array brackets may be off-by-one-ish there, so I'm accidentally putting the middleware inside the "@neutrinojs/react" array, rather than inside the "use" array.  I'll try that this evening.

[2018-03-15 17:05] timkelty commented on #747
@markerikson yep. I tend to find the array middleware format a little hard to read for that reason.

All preferences, but I would probably avoid it like so:

[code]

[2018-03-16 01:18] markerikson commented on #747
Yeah, that was it.  Boy, do I feel silly :)  Thanks!

[2018-03-16 09:11] YuriiF commented on #747
Also I'm think my case with resolving modules for eslint is related to this issue: https://github.com/mozilla-neutrino/neutrino-dev/issues/708
Beacuas `import/no-unresolved` should not fail if i configured `import/resolver` correctly. I'm tried it with `yarn eslint` only and it's working without eslint errors.

This is maybe also not right place for issue in my case sorry for that, but i can sugge

[2018-03-16 09:32] timkelty commented on #747
@YuriiF I'll try and use you config to debug today.

[2018-03-16 12:19] YuriiF commented on #747
@timkelty Great thanks here is two gist's with neutrino configuration and package.json that i'm tried hope it will help:

https://gist.github.com/YuriiF/6c1274aa86bb3aef49b32b2a11732098
https://gist.github.com/YuriiF/83d0301123c51917de26e2f8b4215570

I'm tried two resolvers for eslint:

- babel-plugin-root-import
- babel-plugin-module-resolver

[2018-03-16 14:57] Graf009 opened #750 "Options for Loader Merge Middleware"
Hello. When working with the loader-merge, the problem appears when working with the babel config, you can make an option where you can redefine the merge function, for example,  the babel-merge?
I can do PR.

[2018-03-16 23:22] edmorley opened #751 "Fix yarn "unmet peer dependency" warnings"
yarn is more fussy about peer dependencies than npm, in that it doesn't take into account that dependencies are being hoisted, so warns if a `peerDependency` is not explicitly specified at the top level (see yarnpkg/yarn#4675).

Some of the Neutrino packages trigger this case, so result in noisy yarn warnings that don't mean anything is broken, but that can confuse the user (and results in things

[2018-03-17 00:37] edmorley commented on #608
I can reproduce this (Windows 10, node 8.9.4, npm 5.6.0, npx 9.7.1):

[code]

[2018-03-17 13:01] Bnaya commented on #737
The future is https://github.com/webpack-contrib/mini-css-extract-plugin
extract-text-webpack-plugin is (about to be) deprecated

[2018-03-17 13:40] edmorley commented on #608
So this is because the monorepo's `.neutrinorc.js` doesn't (a) include `.jsx` files in the lint, (b) uses the `airbnb-base` preset not `airbnb`, (c) possibly misses a few directories due to the way directories are manually specified rather than using globs (which is to work around not including the test directories, which we should probably just include, or switch to exclude).

[2018-03-19 07:56] yasinuslu commented on #708
I was having the same problem, i debugged neutrino with:
[code]
Eslint somehow gets an eslint config with some of our configs overridden when neutrino sets `useEslintrc: false`

![image](https://user-images.githubusercontent.com/1007479/37583765-b769ec24-2b63-11e8-8123-30c0bc57e2d8.png)

I added `useEslintrc: true` to my eslint config and it's working now.

[2018-03-19 07:58] yasinuslu commented on #747
I was having the same problem, i debugged neutrino with:
[code]
Eslint somehow gets an eslint config with some of our configs overridden when neutrino sets `useEslintrc: false`

![image](https://user-images.githubusercontent.com/1007479/37583765-b769ec24-2b63-11e8-8123-30c0bc57e2d8.png)

I added `useEslintrc: true` to my eslint config and it's working now.

[2018-03-19 11:54] eliperelman commented on #747
Oooo, that's a good point. I wonder if we should revise the `eslintrc` command to actually set `useEslintrc` just when calling that method?

[2018-03-19 13:37] yasinuslu commented on #747
That could be problematic if the user doesn't actually have an `eslintrc` file. Maybe we can check and if there is an `eslintrc` file exists in project root, we can then set `useEslintrc` ? But that seems a bit hacky :)

[2018-03-19 13:40] eliperelman commented on #747
The `eslintrc` command is meant to be called from an eslintrc file, so calling the command should imply the existence of the file.

[2018-03-19 17:12] #751 closed

[2018-03-20 06:12] yasinuslu commented on #747
That makes sense :)

[2018-03-21 01:32] edmorley commented on #608
I've opened #754 to allow using `--debug` to see which files are being linted, to make it easier to come up with the necessary include/exclude rules here.

[2018-03-21 02:02] edmorley commented on #607
I don't think this is a problem with Neutrino, since `opencollective` isn't used by either it or it's dependencies.

My guess is that:
* since [yarn create](https://yarnpkg.com/lang/en/docs/cli/create/) installs the specified starter kit globally, it's causing a refresh of your global yarn package directory
* some previous global install of another package has the broken dependency on opencollecti

[2018-03-21 09:24] ftes commented on #700
Also valuable to avoid compilations on CI servers which may not have required build tools.

E.g. the `mozjpeg` build requires `autoreconf`, and the `pngquant` build requires `libpng-dev`.

[code]
[code]

[2018-03-21 10:01] eluchsinger opened #755 "Question: How do I use sass-loader?"
I am trying out neutrino and I have the requirement to use SASS (or SCSS). I can't get it to work. Only the App.css gets compiled and the styles.sass is ignored. I have also tried to add an include path in the sass-loader options. I don't get any error messages.

package.json:
[code]

![grafik](https://user-images.githubusercontent.com/12324017/37703740-fbb6f87e-2cf6-11e8-81a0-2ce4900fc490.png)

[2018-03-21 12:01] eliperelman commented on #755
The react preset already comes with style-loader, so maybe it's possible there is a conflict going on here somewhere. Could you change your `.neutrinorc.js` to the following and try it?

[code]

If that doesn't work, also try using `require.resolve`:

[code]

Let us know!

[2018-03-21 13:23] armenzg commented on #607
Thank you Ed! That was it.

[2018-03-21 13:23] #607 closed

[2018-03-21 13:27] edmorley commented on #607
Great! :-)

[2018-03-21 14:18] eluchsinger commented on #755
I tried both, but the styles.sass file didn't get compiled.
[code]

[2018-03-21 14:26] eliperelman commented on #755
@timkelty Am I missing something here?

[2018-03-21 14:45] timkelty commented on #755
@eliperelman @eluchsinger You need to tell style-loader to process sass files (by default it only handles .css)

[code]

[2018-03-22 00:15] edmorley commented on #608
Hmmm so there are multiple problems here:
1) The Neutrino monorepo's `.neutrinorc.js` only checks JS files and a subset of all directories
2) Once the JS file type hardcoding of (1) is fixed, the ESLint preset uses `neutrino.options.extensions` which includes file types that really shouldn't be linted (eg json). I think we've stuffed too many things in `neutrino.options.extensions`
3) If fixing (1

[2018-03-22 00:24] eliperelman commented on #608
I want to address the issue here, before I give an answer to your other questions. We don't want to lint create-project templated files the same way as the monorepo. A user can use standardjs, airbnb, or no linting with create-project. One uses semicolons, the other doesn't. Therefore, it's impossible to fix linting issues in the repo prior to them landing in the project: we always have to run a l

[2018-03-22 00:27] edmorley commented on #608
Oh create-app already tries to perform a one-off lint haha I missed that.
Yeah agree it must not be working then for me and Armen.

[2018-03-22 01:02] edmorley opened #756 "lint-staged breaks partial staging of changes"
A common workflow when I'm developing is to make a handful of changes, then afterwards stage a subset of those changes, make a new commit, stage some more, commit some more etc.

Unfortunately the use of lint-staged means that if only a few of the changes in a file were staged, then after committing all other changes end up being staged (due to the `git add`), breaking my workflow.

In addition, r

[2018-03-22 01:05] edmorley commented on #756
It looks like there isn't a decent solution: okonet/lint-staged#366

[2018-03-22 01:18] eliperelman commented on #756
I've dealt with this exact issue in taskcluster-tools:

https://github.com/taskcluster/taskcluster-tools/pull/414

In the end, I still think it's useful for running a lint precommit, but it shouldn't do a fix, and it shouldn't also do `git add`. What are your thoughts? Are we running `git commit` frequently enough where the tradeoff isn't worth the branch protection?

Worst case scenario, you can

[2018-03-22 01:25] edmorley commented on #756
Linting without the fix/git add sounds fine. That would at least prevent having my nicely staged commits ruined for the third time this evening (since my success rate for remembering to disable the hooks each time has been low) hehe.

I'll open a PR.

[2018-03-22 01:45] #756 closed

[2018-03-22 15:29] edmorley opened #759 "Fix monorepo "unmet peer dependency" warnings"
The monorepo `devDependencies` equivalent of #751.

Currently after cloning the monorepo and running `yarn`, there are the following warnings:
[code]
(there are actually two more, but #758 is taking care of them)

We can avoid these by adding react/react-dom/webpack to `devDependencies` where required.

[2018-03-22 16:54] #759 closed

[2018-03-22 18:53] edmorley opened #761 "gh-pages deploy failed"
I just tried to update the docs by running `yarn docs:deploy`.

This resulted in the following new commit:
https://github.com/mozilla-neutrino/neutrino-dev/commit/283141654a49255243718b0cfe5a1fedd877aae1

...which has the `.md` source files present, and not just the `.html` built output.

This then results in a build error email from GitHub:
[code]

I've tried twice and the same thing happens.

Pe

[2018-03-22 19:46] edmorley commented on #748
Although it's looking like uglify-es's future is up in the air at the moment:
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/262

[2018-03-22 19:47] eliperelman commented on #761
It succeeded for me :(

[2018-03-22 19:51] edmorley commented on #761
I guess next time I'll just have to run the steps individually and delete the source files manually.
Perhaps after we update to the new gitbook (or whatever direction we go), if it's still buggy I can dig in more.

[2018-03-22 19:51] #761 closed

[2018-03-22 19:51] edmorley commented on #761
Thank you for updating the docs though! :-)

[2018-03-23 00:12] edmorley opened #762 "'yarn version' fails with 'TypeError: Invalid Version: vundefined'"
Running `yarn run version` on master (which is run by `yarn release*`; note is not the same as `yarn version`) fails with:

[code]

I believe this is because auto-changelog's `--package` option only looks in the monorepo root's `package.json`, and not the individual packages or `lerna.json`.

The fix should be as simple as re-adding the version to the root `package.json` (was previously removed be

[2018-03-23 12:08] timkelty opened #763 "@neutrinojs/eslint doesn't play well with Vue out of the box"
With a config like this:

[code]

You will get errors like this:

[code]

If you follow that link and follow the instruction, you can get it to work by moving the `parser` option:

[code]

Not sure if this is something we should do for the user behind the scenes in `@neutrinojs/eslint`, but at the very least it should be in the docs.

[2018-03-23 12:10] eliperelman commented on #763
https://github.com/mozilla-neutrino/neutrino-dev/blob/323abe846a2ecc647627d9b6459a62b41385249e/packages/vue/index.js#L36-L38

[2018-03-23 12:15] timkelty commented on #763
@eliperelman ah-hah - that only works if `@neutrinojs/eslint` comes _first_.

[2018-03-23 12:19] eliperelman commented on #763
Yep, since it's extending from the eslint middleware. We used to have something in the docs about linting middleware should come before build middleware...

[2018-03-23 12:26] eliperelman commented on #763
So one thing that sucks right now is any logging done from middleware interacts with the spinners. Maybe we should add something like `neutrino.log`, which pauses the spinners, logs the message, and starts them back up? This would require giving Neutrino knowledge of a spinner instance.

[2018-03-23 12:33] edmorley commented on #763
Ah true. Though perhaps in this case throwing might be more appropriate than a log message?

[2018-03-23 22:45] edmorley commented on #762
So unfortunately the fix of adding a version field to the repo root `package.json` isn't viable, since lerna (apparently by design for `private: true` packages) doesn't increment the version there, meaning it goes out of date.

As such the options seem to be:
1. ask lerna to add an option to bump the root `package.json` regardless
2. ask lerna to set an environment variable that contains the chose

[2018-03-23 22:55] eliperelman commented on #762
While those might be the best solutions, I imagine running into a bit of friction either moving forward with it, or not having traction soon enough.

(4) seems simple enough, but I'm not sure lerna actually runs version/preversion.

<sup>Aside: I thought I had mentioned this prior, but I always run the release chain with npm instead of yarn because of credential issues.</sup>

[2018-03-24 00:02] edmorley commented on #762
lerna publish does run `version`, hence getting the error above (without it, the changelog wouldn't be automatically updated). Yeah I remember you saying about npm for credentials, but they work fine for me with yarn once already logged in. The error above affects both npm and yarn.

Anyway I used the workaround mentioned above to be able to get 8.2.0 published for now.

[2018-03-24 00:07] edmorley commented on #737
These two are now done (8.2.0 just published), so barring any objections I'll start merging breaking changes into master (with master now being treated as 9 alpha).

[2018-03-24 01:02] edmorley commented on #713
neutrino-dev master is now open for v9-alpha breaking changes, should anyone get a chance to tackle this one... :-)

[2018-03-24 22:54] timkelty commented on #713
@edmorley I'm hoping to in the next couple weeks!

[2018-03-25 17:51] timkelty commented on #612
@edmorley that's what I was getting at, and it might be nice, but I'm not sure how helpful it would be.

I think the most immediate clarification would be to rename the `lint` command to `eslint`.

[2018-03-26 15:02] spadesr opened #764 "Error when scaffolding with create-project after linting style selection"
Hey guys. I'm trying to scaffold a library project. When I use the create-project tool, I get an error at `create x/package.json`.

### Scenarios

This happens when I:
- Use npx
- Use Yarn
- Select Standard JS for linting
- Select Airbnb for linting

It doesn't happen when I:
- Select 'none' for linting.

### Steps I've tried to fix it

- Do install on both LTS and latest production release of Nod

[2018-03-26 20:19] jonas-e-medicus commented on #764
Same issue
OS: osx
node: v9.7.1
yarn: 1.5.1
npm: 5.6.0

command: $ yarn create @neutrinojs/project regraph

[2018-03-26 23:09] eliperelman commented on #764
I couldn't replicate, but was running into strange permission errors when trying to manually download and extract the package tarball. @spadesr @jonas-e-medicus could you both try the latest version, v8.2.1, and see if this is still an issue?

@edmorley I'm wondering if there was a file ownership issue on this last publish. When I open v8.2.0 using `sudo su`, there were no dotfiles (e.g. `.eslintr

[2018-03-27 09:22] spadesr commented on #764
I just tried it, and it creates the project just fine on v8.2.1! Verified it with both Standard and Airbnb. Good stuff @eliperelman! Thank you.

[2018-03-27 11:46] eliperelman commented on #764
Great, thank you so much for your patience!

[2018-03-27 11:46] #764 closed

[2018-03-27 12:50] timkelty opened #771 "Nuxt.js Middleware and/or examples"
Nuxt comes with its own server etc, but if you were using it with Neutrino, I'm assuming you'd want to use it as a middleware: https://github.com/nuxt/nuxt.js#using-nuxtjs-as-a-middleware

Hoping I can enlist @kswedberg for help :)

[2018-03-27 14:41] spadesr opened #772 "Add issue template plus .github folder"
# Why?
To stimulate issue makers to add the right information immediately when filing an issue. This avoids unnecessary back-and-forths where maintainers need to ask for more details (ie version numbers).
It's very helpful to have links to documents describing how to contribute. Unfortunately, not everybody reads through these documents before submitting an issue.

# How?
I propose to add an issue

[2018-03-27 15:09] timkelty opened #773 ".neutrinorc.js file clobbers --use option"
https://github.com/mozilla-neutrino/neutrino-dev/blob/master/packages/neutrino/bin/neutrino.js#L88-L89

Was attempting this (with a different `.neutrinorc.js` in cwd: `neutrino build --use .neutrinorc-vue.js`

Config from `.neutrinorc.js` is used when it should be ignored (because of `--use`).

[2018-03-27 15:25] eliperelman commented on #772
I really like this idea! Feel free to open a PR to move forward with this.

[2018-03-27 15:26] eliperelman commented on #773
Confirmed.

[2018-03-27 19:51] SeeThruHead opened #775 "lower case file names"
lower case files name and kebab-case is far less error prone across different os.
I recommend all files created by neutrino(create-project) be lower cased only.

[2018-03-28 11:35] timkelty opened #776 "Vue: CSS extraction/modules support with single-file components"
Run into this with `@neutrinojs/vue`, though it might be true for react as well…

`<style>` tags in a `.vue` component appear to _not_ be extracted to .css files.

Should they be, or is this expected?

If I want my css extracted, I need to instead `import` in (from component's `<script>` block), and toggle module support with the file name (*.module.css, etc).

Adding the `module` attr does appear

[2018-03-28 17:38] #726 closed

[2018-03-28 18:14] timkelty commented on #726
This didn't really have much to do with Neutrino as it was just postcss configuration, but I included an example!

[2018-03-29 18:44] timkelty opened #779 "Consider changing "official/example" middleware format from array to fn"
`yarn create @neutrinojs/project` gives you something like this:

[code]

Personally I always avoid the array middleware format, as I find it hard to read. I've seen quite a few people mess it up as well.

I always change it to this:

[code]

Anyone else?

[2018-03-29 19:25] timkelty commented on #779
k, we'll just leave it then 👍

[2018-03-29 19:25] #779 closed

[2018-03-29 19:26] eliperelman commented on #779
Haha ok. One pro for using the array format is its familiarity to Babel users, who also share the string and array pair formats.

[2018-03-29 19:28] timkelty commented on #779
True. Think its just a silly preference I have, just wanted to make sure it wasn't universal.

[2018-04-02 15:04] flash1293 opened #781 "@neutrinojs/library - compile to standard ES5"
IMHO the library preset should configure babel to compile to standard ES5 to be consumable by uglify, incuding async/await and other language features.